<script type='text/javascript'>
    window.cupon = <%- JSON.stringify(cupon) %>;
    window.content = <%- JSON.stringify(_content) %>;
</script>
<div ng-controller='cuponEditCTL' class="editar-tour ng-cloak">
    <div class="span4 profile-left profileEdit">
        <div profile-image 
            object='cupon' 
            update-method='/cupon/updateIcon' 
            delete-method='/cupon/destroyIcon' 
            image-attr='icon' 
            dir='cupon'>
        </div> 

    </div>
    <div class="span6">
        <div form-helper 
            fields='content.cupons' 
            object='cupon' 
            action='/cupon/save' 
            form-title='INFORMACIÓN BASICA'
            >
        </div> 
    </div>  

</div>
