<script type='text/javascript'>
	window.cupons = <%- JSON.stringify(cupons) %>;
	window.hotels = <%- JSON.stringify(hotels) %>;
</script>
<div ng-controller='cuponCTL' >
	<div directory-listing 
		objects='cupons' 
		keywords='searchInput' 
		dir='cupons' 
		edit-url='/cupon/edit/' 
		get-info='getInfo'
		name-var='name'
		button-text='Nuevos cupones'
	>
	</div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div 
					form-helper 
			        fields='content.cupons' 
			        form-footer='Agregar'
			        form-save = 'createCupon'
			        object = 'cupons'
				objects='{hotels:hotels}' 
			        form-title='Agregar Cupones'
			       	modal='true'
			       	currency='company.base_currency'
			        >
			    </div>	
			</div>
		</div>
	</div>
</div>
