<script type='text/javascript'>
    window.schemes = <%- JSON.stringify(schemes) %>;
</script>
<div ng-controller='seasonshemeCTL' >
	<p><button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><%= __('season-nuevo-esq')%></button></p>
	<br/>	

	<div table-helper objects='schemes' columns='content.seasonScheme' route='seasonScheme'></div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div 
					form-helper 
			        fields='content.seasonScheme' 
			        form-footer='<%= __('season-agregar-esq')%>'
			        form-save = 'addScheme'
			        object = 'scheme'
			        form-title='<%= __('season-info')%>'
			       	modal='true'
			        >
			    </div>	
			</div>
		</div>
	</div>
</div>