<div class="calendario col-md-4">
	<div class = "thead">
		<h1>{{label}}</h1>
	</div>
	<div class = "days-of-week">
		<ul class = "days">
			<li ng-bind='translates.d_dom'>DOM</li>
			<li ng-bind='translates.d_lun'>LUN</li>
			<li ng-bind='translates.d_mar'>MAR</li>
			<li ng-bind='translates.d_mie'>MIE</li>
			<li ng-bind='translates.d_jue'>JUE</li>
			<li ng-bind='translates.d_vie'>VIE</li>
			<li ng-bind='translates.d_sab'>SAB</li>
		</ul>
	</div>
	<div class = "all-weeks">
		<ul class = "week-gral" ng-repeat='week in weeks'>
			<li ng-repeat='day in week.days' ng-bind='day'></li>
			<li ng-repeat='line in week.lines' class='line ng-calendar-line' ng-class='getLineClass(line)' ></li>
		</ul>
	</div>
</div>