<div class='ng-delete'>
	<button class='ng-delete-button' href='' ng-click='showOverlay = true'> 
		<strong ng-bind='translates.d_deleteFile'> </strong>
		<span class='fa fa-trash-o' ></span>
	</button>

	<div class="overlay" ng-show='showOverlay'>
		<div class="close-war">
			<button ng-click='showOverlay = false'>
				<span class='fa fa-times'></span>
			</button>
		</div>
		<div class='content'>
			<div class="text-war">
				<p> <strong ng-bind='translates.d_deleteperm'></strong></p>
			</div>
			<div class="img-circlepicture">
        		<img ng-src="{{iconSrc}}" alt="{{user.name}}" />
			</div>
			<div class="text-log">
				<p> <strong>{{translates.d_user}}: {{user.name}}</strong></p>
			</div>
			<form ng-submit='submitDelete()' class="input-password" method='delete' accept-charset="utf-8">				
				<input type="password" ng-model='passwd' placeholder="{{translates.d_deletePlaceH}}" />
			</form>
		</div>
	</div>
</div>