<button class='ng-delete-button' href=''> <strong>Eliminar archivo   </strong><span class='fa fa-trash-o' >
</span></button>

<div class="overlay">
	<div class="close-war">
		<button><span class='fa fa-times'></span></button>
	</div>
	<div class="text-war">
		<p> <strong>ELIMINAR PERMANENTEMENTE</strong></p>
	</div>
	<div class="img-circlepicture">
    	<img class="imgn" src='Photo-0060.jpg'>
	</div>
	<div class="text-log">
		<p> <strong>Logged In: Juanli Ter&aacuten Rosas</strong></p>
	</div>
	<div class="input-password">
		<input type="password" name="password" id="password" placeholder="Enter password and hit enter to delete files...">
	</div>
</div>