<div class='ng-directory-listing'>
	<!--<ul class="alphabets">
		<li ng-repeat="a in alphabet">
			<span ng-if="alphabetIndex.indexOf(a)!=-1" ng-click="selectLetter(a)" ng-bind='a' ></span>
			<p ng-if="alphabetIndex.indexOf(a)==-1" ng-bind='a'></p>
		</li>
	</ul>
	<p ng-if="buttonText != ''"><button class="btn btn-primary" data-toggle="modal" data-target="#myModal"> <span class = "fa fa-plus"></span>{{buttonText}}</button></p>-->
	<div class = "alphabets-nav row">	
		<div class = "alphabet-container col-md-9 col-sm-9 col-xs-9">
			<ul class="alphabets">
				<li ng-repeat="a in alphabet">
					<span ng-if="alphabetIndex.indexOf(a)!=-1" ng-click="selectLetter(a)" ng-bind='a' ></span>
					<p ng-if="alphabetIndex.indexOf(a)==-1" ng-bind='a'></p>
				</li>
			</ul>
		</div>
		
		<div class = "textbutton col-sm-3 col-sm-3 col-xs-3">
			<p ng-if="buttonText != ''"><button class="btn btn-primary" data-toggle="modal" data-target="#myModal"> <span class = "fa fa-plus"></span>{{buttonText}}</button></p>
		</div>
	</div>

	<div class="peoplelist">
		<div class="row-fluid">
			<div class="span6 widgetbox" ng-repeat='object in objects | filter:objectFilter' ng-cloak class="ng-cloak">
				<div class="headtitle">         
					<h4 class="widgettitle">{{object.name}}
						<li><a ng-href="{{editUrl}}{{object.id}}">Editar</a></li><li><a ng-href="{{editUrl}}{{object.id}}"><span class = "fa fa-pencil"></span></a></li>
					</h4>
				</div>
				<div class="widgetcontent" >
					<div class="thumb pull-right">
						<img ng-if='object.icon.filename' ng-src="/uploads/{{dir}}/80x80{{object.icon.filename}}" alt="{{object.name}}"/>
						<img ng-if='!object.icon.filename' src="http://placehold.it/80x80" alt="{{object.name}}" />
					</div>
					<div class="peopleinfo" ng-cloak>
						<!--<h4><a href="{{editUrl}}{{object.id}}" ng-bind='object.name'></a></h4>-->
						<ul><li ng-repeat='(key,val) in info(object)'><span>{{key}}: </span> {{val}}</li></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
