<div>
    <label for="">
        Exportar todo: 
        <input type="checkbox" ng-model="allElements">
    </label>
    <br> 
    <label ng-show="allElements == false">
        Numero de elementos a exportar: 
        <input type="number" name="quantity" min="1" ng-model="limit">
    </label>
    <br>
    <p>
        <label>{{translates.fields_sort}}:</label>
        <span class="field">
            <select ng-model="sortField" ng-options="field.text for field in fields">
            </select>
        </span>
        <span class="field">
            <select ng-model="sort">
                <option value="asc">{{translates.fields_asc}}</option>
                <option value="desc">{{translates.fields_desc}}</option>
            </select>
        </span>
    </p>
    <p ng-if="filter.active">
        <label>{{translates.filter_by}}:</label>
        <span class="field">
            <select ng-model="filter.field" ng-change="updateFilter(filter.field)">
                <option value="">{{translates.filter_by_none}}</option>
                <option ng-if="field.type == 'select'" ng-value="$index" ng-repeat="field in fields">{{field.text}}</option>
            </select>
        </span>
        <span class="field" ng-show="filter.field >= 0">
            <select ng-model="filter.key" ng-options="f.name for f in filter.options">
            </select>
        </span>
        <br>
    </p>
    <button ng-click="download()" class="btn btn-primary pull-right"> <span class="fa fa-plus"></span>exportar</button>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>{{translates.fields}}</th>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="allbox" ng-change="changeAllbox()"/>
                        </label>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="field in fields">
                <td>
                    <label ng-bind='field.text' for="{{field.handle}}"></label>
                </td>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"  id="{{field.handle}}" ng-model="selectFields[field.handle]" ng-checked="allbox"/>
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
