<div class="widgetbox personal-information ng-form-helper">
	<div ng-if='modal' class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">{{formTitle}}</h4>
	</div>
	<h4 ng-if='formTitle && !modal' class="widgettitle">{{formTitle}} <span ng-click='save()' class='fa icon' ng-class='saveClass'></span></h4>
	<form ng-class='formClass' class="form stdform stdform2" name="form" >
		<p ng-repeat='field  in fields | filter:formFilter'>
	        <label>{{field[label]}} <span ng-if='field.type == "money"' >({{currency.currency_code}})</span></label>
	        <span class="field">
	            <textarea 
	            	ng-if='field.type == "textarea"' 
	            	name='{{field.handle}}' 
	            	class='form-control' 
	            	ng-model='object[field.handle]'
	            	ng-required='field.required'>
	            </textarea>
                <textarea
                        ng-if='field.type == "textarea-editor"'
                        name='{{field.handle}}'
                        class='form-control'
                        ng-model='object[field.handle]'
                        ng-required='field.required'
                        ui-tinymce="tinymceOptions"
                        >

                </textarea>
	            <input type='checkbox' ng-if='field.type == "checkbox"' name='{{field.handle}}' class='form-control' ng-checked='object[field.handle]' ng-model='object[field.handle]' />
	            <input type='text' ng-if='field.type == "text"' name='{{field.handle}}' class='form-control' ng-model='object[field.handle]' />
	            <input type='password' ng-if='field.type == "password"' name='{{field.handle}}' class='form-control' ng-model='object[field.handle]' />
	            
	            <select 
	            	ng-if='field.type == "select"'
	            	ng-model='object[field.handle]'
	            	ng-options="obj.id as obj.name for obj in objects[field.object]"
	            	ng-change="onChangefx(field)"
	            	class='form-control' >
	            </select>
	            <select 
	            	ng-if='field.type == "select-num"'
	            	ng-model='object[field.handle]'
	            	ng-options="obj for obj in objects[field.object]"
	            	class='form-control' >
	            </select>


				<span ng-if='field.type == "money"' class="input-group">
					<span ng-if='currency.prefix' class="input-group-addon"  ng-bind='currency.prefix'></span>
					<input class="form-control" type="text" name='{{field.handle}}' ng-model='object[field.handle]'>
					<span ng-if='currency.suffix' class="input-group-addon"  ng-bind='currency.suffix'></span>
				</span>
				
				<datepicker ng-if='field.type == "date"' ng-model="object[field.handle]" show-weeks="true" class="well well-sm"></datepicker>

				<span ng-if='field.type == "multi-select"'>
					<span class='multi-tag' ng-repeat='obj in object[field.handle]'> {{obj.name}} <a href='' ng-click='removeRel(field,obj)'> x </a></span>
				</span>
				<select
					chosen
					multiple
					ng-options='obj as obj.name for obj in objects[field.object]'
					ng-model='object[field.handle]'
					ng-if='field.type == "multi-select"' ></select>

	        </span>
	    </p>
	    <p ng-if='formFooter' class="stdformbutton">
            <button ng-click='save()' class="btn btn-primary">{{formFooter}}</button>
            <button type="reset" class="btn">{{translates.d_reset}}</button>
        </p>
	</form>
</div>