<div class="widgetbox personal-information ng-form-helper">
	<div ng-if='modal' class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">{{formTitle}}</h4>
	</div>
	<h4 ng-if='formTitle && !modal' class="widgettitle">{{formTitle}} <span ng-click='save()' class='fa icon' ng-class='saveClass'></span></h4>
	<form ng-class='formClass' class="form stdform stdform2" name="form">
		<p ng-repeat='field  in fields | filter:formFilter' ng-hide="fieldIsHidden(field)">
	        <label for="{{getFieldId($index,field.handle)}}">{{field[label]}} <span ng-if='field.type == "money"&&currency' >({{currency.currency_code}})</span> <span class='formmessage' ng-if="field[msg]" ng-bind="field[msg]"></span> <span ng-if='field.required'>*</span></label>
	        <span class="field">
	            <textarea 
	            	ng-if='field.type == "textarea"' 
	            	name='{{field.handle}}' 
	            	class='form-control' 
	            	ng-model='object[field.handle]'
	            	ng-required='field.required'
                    id="{{getFieldId($index,field.handle)}}">
	            </textarea>
                <textarea
                        ng-if='field.type == "textarea-editor"'
                        name='{{field.handle}}'
                        class='form-control'
                        ng-model='object[field.handle]'
                        ng-required='field.required'
                        ui-tinymce="tinymceOptions"
                        id="{{getFieldId($index,field.handle)}}"
                        >

                </textarea>
	            <input type='checkbox' ng-if='field.type == "checkbox"' id="{{getFieldId($index,field.handle)}}" name='{{field.handle}}' class='form-control' ng-checked='object[field.handle]' ng-model='object[field.handle]' ng-change="onChangefx(field)" />
	            <input type='text' ng-if='field.type == "text"' id="{{getFieldId($index,field.handle)}}" name='{{field.handle}}' class='form-control' ng-model='object[field.handle]' ng-required='field.required' ng-class="{ 'has-error' : form[field.handle].$invalid && !form[field.handle].$pristine }" ng-change="onChangefx(field)" />
	            <input type='number' ng-if='field.type == "number"' id="{{getFieldId($index,field.handle)}}" name='{{field.handle}}' class='form-control' ng-model='object[field.handle]' ng-required='field.required' ng-class="{ 'has-error' : form[field.handle].$invalid && !form[field.handle].$pristine }" ng-change="onChangefx(field)" min="{{field.minValue||1}}" max="{{field.maxValue||50}}" />
	            <input type='password' ng-if='field.type == "password"' id="{{getFieldId($index,field.handle)}}" name='{{field.handle}}' class='form-control' ng-model='object[field.handle]' />
	            
	            <select 
	            	ng-if='field.type == "select"'
	            	ng-model='object[field.handle]'
	            	ng-options="obj.id as obj.name for obj in objects[field.object]"
	            	ng-change="onChangefx(field)"
	            	ng-required='field.required'
	            	class='form-control'
                    id="{{getFieldId($index,field.handle)}}" >
	            </select>
	            <select 
	            	ng-if='field.type == "select-num"'
	            	ng-model='object[field.handle]'
	            	ng-options="obj for obj in objects[field.object]"
	            	class='form-control'
                    id="{{getFieldId($index,field.handle)}}" >
	            </select>
		    <span ng-if="field.type == 'file'">
		    	<a ng-if="object[field.handle]" 
			ng-href="/uploads/{{dir}}/{{object[field.handle].filename}}"
			target="_blank">	
			    	{{object[field.handle] && object[field.handle].name || ''}}
			</a>
		    </span>
		    <span ng-if="field.type == 'file'"  ng-file-select="uploadFiles($files, field)" accept="*" class='fa fa-folder-open'></span>



				<span ng-if='field.type == "money"' class="input-group">
					<span ng-if='currency.prefix' class="input-group-addon"  ng-bind='currency.prefix'></span>
					<input class="form-control" type="text" name='{{field.handle}}' ng-model='object[field.handle]' valid-number id="{{getFieldId($index,field.handle)}}">
					<span ng-if='currency.suffix' class="input-group-addon"  ng-bind='currency.suffix'></span>
				</span>
				
				<datepicker ng-if='field.type == "date"' ng-model="object[field.handle]" show-weeks="true" class="well well-sm" id="{{getFieldId($index,field.handle)}}"></datepicker>
				<timepicker ng-if='field.type == "time"' ng-model="object[field.handle]" hour-step="1" minute-step="1" show-meridian="ismeridian" id="{{getFieldId($index,field.handle)}}"></timepicker>

				<span ng-if='field.type == "multi-select"'>
					<span class='multi-tag' ng-repeat='obj in object[field.handle]'> {{obj.name}} <a href='' ng-click='removeRel(field,obj)'> x </a></span>
				</span>
				<select
					chosen
					multiple
					ng-options='obj as obj.name for obj in objects[field.object] track by obj.id'
					ng-model='object[field.handle]'
					ng-if='field.type == "multi-select"'
                    ng-id="{{getFieldId($index,field.handle)}}"
                    ></select>
	        </span>
	    </p>
	    <p ng-if='formFooter' class="stdformbutton">
            <button ng-click='save()' class="btn btn-primary" ng-disabled="form.$invalid || customvalidation=='f'">{{formFooter}}</button>
            <button type="reset" class="btn reset">{{translates.d_reset}}</button>
        </p>
	</form>
</div>
