<div class="widgetbox personal-information ng-form-helper">
	<h4 class="widgettitle">
		{{translates.d_selectDest}}
		<span ng-if='dragEnabled' ng-click='createMarker()'  class='fa icon fa-plus' ></span>
		<span ng-if='dragEnabled' ng-click='save()' class='fa icon' ng-class='saveClass'></span>
	</h4>
	<div class=''>
		<table class='table' ng-if='dragEnabled'>
			<thead>
		        <tr>
		        	<th ng-bind="translates.d_lat"></th>
		        	<th ng-bind="translates.d_lon"></th>
		        	<th ng-bind="translates.d_dec"></th>
		            <th ng-if="customFields" ng-repeat='column in customFields' ng-bind='column'></th>
		            <th ng-bind="translates.d_delete"></th>
		        </tr>
		    </thead>
		    <tbody>
				<tr ng-repeat='(key,marker) in markers'>
					<td>
						<input name='lat' ng-model="marker.lat" >
					</td>
					<td>
						<input name='lng' ng-model="marker.lng" >
					</td>
					<td>
						<input name='message' ng-model="marker.message" >
					</td>
					<td ng-if="customFields" ng-repeat='column in customFields'>
		                <input name="{{column}}" ng-model="marker[column]" placeholder="{{column}}" >
		            </td>
					<td><a class='fa fa-trash-o' ng-click='removeMarker(key)' style="cursor: pointer"></a></td>
				</tr>    	
		    </tbody>
		</table>
	</div>
	<div class="widgetcontent">
		<p ng-if='dragEnabled'  ng-bind="translates.d_markLegend"></p>
		<leaflet width="{{sizes.width}}" height="{{sizes.height}}" markers='markers' center='center' ></leaflet>
	</div>
	
</div>