<div id="dashboard-left" class="span6">
    <h4 class="widgettitle"><span class="fa fa-bullhorn"></span><%= __('home-notificaciones') %></h4>
    <div class="widgetcontent nopadding">
        <ul class="commentlist">
            <li ng-repeat="notice in noticesN">
                <img ng-src="{{notice.userId.icon?'/uploads/users/80x80'+notice.userId.icon.filename:'http://placehold.it/80x80'}}"
                alt="" class="pull-left">
                <div class="comment-info" ng-cloak>
                    <h4></h4>
                    <!--CLASE CREADA PARA ACOMODAR TEXTO-->
                    <div class="comment-updates">
                        <h5><a href="/{{notice.app}}">{{notice.userId.name}}</a></h5>
                        <p>{{notice.userId.name}} {{notice.userId.last_name}}
                            <strong>{{noticeTranslate[notice.operation]}}</strong>  {{notice.model}}:
                            <a href="/{{notice.app}}/edit/{{notice.modifyId}}">
                                {{notice.modelObjName}} 
                            </a>
                        </p>
                        <span class="muted">{{ fromNow(notice.updatedAt) }}</span>
                    </div>
                    <button class="btn btn-default toogle" ng-click="isCollapsed[$index] = !isCollapsed[$index]">Ver más</button>
                    <div class="clear"></div>
                    
                            <div collapse="!isCollapsed[$index]" class='collapseCustom'>
                                <!--<p>Fue modificado: {{fromNow(changes.updatedAt.after)}}</p>-->
                                <table class="table" >
                                    <thead>
                                        <tr>
                                            <th>Campo</th>
                                            <th class ="valor-previo" >Valor previo</th><!--CLASE TEMPORAL-->
                                            <th>Valor nuevo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(field,change) in notice.modifications[0]"
                                        ng-if="field!='updatedAt'">
                                            <td>
                                                {{field}}
                                            </td>
                                            <td class="change-before" ng-if="change.before.filename"><!--CLASE TEMPORAL-->
                                                {{change.before.filename}}
                                            </td>
                                            <td class="change-before" ng-if="!change.before.filename"><!--CLASE TEMPORAL-->
                                                {{change.before}}
                                            </td>
                                            <td ng-if="change.after.filename">
                                                {{change.after.filename}}
                                            </td>
                                            <td ng-if="!change.after.filename">
                                                {{change.after}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    <div class="clear"></div><!--CLASE TEMPORAL-->
                </div>
            </li>
        </ul>
    </div>
</div>
<!--col-md-8-->
