<div id="dashboard-left" class="span6">
    <h4 class="widgettitle"><span class="fa fa-bullhorn"></span>{{translates.d_notifications}}</h4>
    <div class="widgetcontent nopadding">
        <ul class="commentlist">
            <li ng-repeat="order in noticesR">
                <img ng-src="{{order.user.icon?'/uploads/users/80x80'+order.userId.icon.filename:'http://placehold.it/80x80'}}"
                alt="" class="pull-left">
                <div class="comment-info" ng-cloak>
                    <h4></h4>
                    <!--CLASE CREADA PARA ACOMODAR TEXTO-->
                    <div class="comment-updates">
                        <h5><a href="/">{{order.user.name}}</a></h5>
                        <p>{{order.user.name}} {{order.user.last_name}}
                            <strong>Nueva reserva</strong> :
                            <a href="/order/edit/{{order.id}}">
                                {{order.id}}
                            </a>
                        </p>
                        <span class="muted">{{ fromNow(order.updatedAt) }}</span>
                    </div>
                    <div class="clear"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--col-md-8-->
