<div id="dashboard-left" class="span6">
    <h4 class="widgettitle">
        <span class="fa fa-bullhorn"></span>{{translates.d_notifications}}
    </h4>
    <div class="widgetcontent nopadding">
        <ul class="commentlist">
            <li ng-repeat="notice in noticesN">
                <img ng-src="{{notice.userId.icon?'/uploads/users/80x80'+notice.userId.icon.filename:'http://placehold.it/80x80'}}"
                alt="" class="pull-left">
                <div class="comment-info" ng-cloak>
                    <h4></h4>
                    <!--CLASE CREADA PARA ACOMODAR TEXTO-->
                    <div class="comment-updates">
                        <h5><a href="/{{notice.app}}">{{notice.model_label.es || notice.model }}</a></h5>
                        <p>{{notice.userId.name}} {{notice.userId.last_name}}
                            <strong>{{noticeTranslate[notice.operation]}}</strong>
                            <a href="/{{notice.app}}/edit/{{notice.modifyId}}">
                                {{notice.modelObjName}} 
                            </a>
                        </p>
                        <p><a href="/{{notice.app}}/edit/{{notice.modifyId}}"><span ng-bind='getReservationString(notice)'></span></a></p>
                        <span class="muted">{{ fromNow(notice.updatedAt) }}</span>
                    </div>
                    <button class="btn btn-default toogle" ng-click="isCollapsed[$index] = !isCollapsed[$index]">{{translates.d_seemore}}</button>
                    <div class="clear"></div>
                    
                            <div collapse="!isCollapsed[$index]" class='collapseCustom'>
                                <!--<p>Fue modificado: {{fromNow(changes.updatedAt.after)}}</p>-->
                                <table class="table" >
                                    <thead>
                                        <tr>
                                            <th ng-bind="translates.d_field"></th>
                                            <th ng-bind="translates.d_prevValue" class ="valor-previo" ></th><!--CLASE TEMPORAL-->
                                            <th ng-bind="translates.d_newValue"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(field,change) in notice.modifications[0]"
                                        ng-if="field!='updatedAt'">
                                            <td>
                                                {{notice.attrs[field].es || field }}
                                            </td>
                                            <td class="change-before" ng-if="change.before.filename"><!--CLASE TEMPORAL-->
                                                {{change.before.filename}}
                                            </td>
                                            <td class="change-before" ng-if="!change.before.filename"><!--CLASE TEMPORAL-->
                                                {{change.before}}
                                            </td>
                                            <td ng-if="change.after.filename">
                                                {{change.after.filename}}
                                            </td>
                                            <td ng-if="!change.after.filename">
                                                {{change.after}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    <div class="clear"></div><!--CLASE TEMPORAL-->
                </div>
            </li>
        </ul>
    </div>
</div>
<!--col-md-8-->
