 <div class="pageheader" ng-class="page.saveButton ? 'staticTop' : ''">
    <form action="results.html" method="post" class="searchbar" ng-if='page.searchBar'>
        <input type="text" name="keyword" placeholder="{{translates.d_searchPH}}Escribe para realizar una busqueda" ng-model='searchInput' onfocus="this.placeholder = ''" onblur="this.placeholder = translates.d_searchPH"/>
    </form>
    <button ng-if='page.saveButton' class="btn btn-primary pull-right" ng-click='broadcastSave()'>{{translates.d_saveAll}}</button>
    <div class="pageicon">
        <span ng-class="page.icon || 'fa fa-th-large'"></span>
    </div>
    <div class="pagetitle">
        <h5 ng-bind='page.features' ></h5>
        <h1 ng-bind='page.name || "Dashboard"'></h1>
        <p class="page-description" ng-bind="page.description"></p>
    </div>
</div><!--pageheader-->