<table class="table table-striped responsive">
    <thead>
        <tr>
            <th ng-repeat='column in columns' ng-bind='column.label'></th>
            <th >Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
		<tr ng-repeat='(key,object) in objects'>
			<td ng-repeat='column in columns'>
                <a ng-if="inlineEdit" 
                editable-text='object[column.handle]' 
                e-name='column.handle' 
                e-required 
                onbeforesave="updateInline($data,object,column.handle)"
                >{{object[column.handle] || 'Vacio'}}</a>
                <span ng-if="!inlineEdit" ng-bind='object[column.handle]'></span>
            </td>
            <td><a ng-href='{{customEditRoute}}/{{object.id}}' class='fa fa-edit' style="cursor: pointer"></a></td>
			<td><a class='fa fa-trash-o' ng-click='destroyObject(object,key)' style="cursor: pointer"></a></td>
		</tr>    	
    </tbody>
</table>