<h4 class="widgettitle">Tipo de cambio historico</h4>
<div class="widgetcontent">
	<div id='data_div' class='hidden'>
		{{charts}}
	</div>
	<div id='chart_div' style='height:350px;width:100%' ng-if="charts.length" ></div>
</div><!--span8-->
