<div class="wrap_createCompany" ng-controller="createCompanyCTL">
<div class="span6"><h4 class="widgettitle">Empresas</h4>
<table id="dyntable" class="table table-bordered">
	<tbody>
		<tr>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Editar</th>
		</tr>
		<tr class="" ng-repeat="company in companyDash">
			<td>{{company.name}}</td>
			<td>{{company.description}}</td>
			<td>
				<a href="/admin/edit/{{company.id}}">
					<span class="fa fa-edit"></span>
				</a>
			</td>
		</tr>
	</tbody>
</table>
<%- partial('../global/notices') -%> 
<div class="clear"></div>
</div>
<div class="span6">
	<div class="alert alert-block unseen userAlert">
		<button data-dismiss="alert" class="close" type="button">×</button>
		<h4>Mensaje</h4>
		<p>La compania se creo exitosamente</p>
	</div>
	<div class="widgetbox">
    <h4 class="widgettitle">Nueva Empresa</h4>
    <div class="widgetcontent nopadding">                            
		<%- partial('../company/new') -%> 
	</div>
</div>
</div>
</div>
