<script type='text/javascript'>
    window.airport = <%- JSON.stringify(airport) %>;
    window.locations = <%- JSON.stringify(locations) %>;
    window.zones = <%- JSON.stringify(zones) %>;
    window.userID = <%- JSON.stringify(req.user.id) %>;
    console.log(airport);
</script>
<div ng-controller='airportEditCTL' class="editar-aeropuerto ng-cloak">
    <div class='row-fluid'>
        <div class="span12">        
            <div form-helper 
                fields='content.airport' 
                object='airport' 
                objects = '{locations:locations,zones:zones}'
                action='/airport/update' 
                form-title='INFORMACIÓN BÁSICA'
                >
            </div>
        </div>
    </div>
    <br/>
    <div delete-button url='/airport' redirect-url='/airport' object='airport' user='user'></div>
    <br/>
</div>

    <div id="cargando-elementos" class="ng-cloak">
        <img src="/images/loaders/images-cm.gif">
    </div>