<script type='text/javascript'>
    window.location_o = <%- JSON.stringify(location_o) %>;
    window.locations = <%- JSON.stringify(locations) %>;
</script>
<div ng-controller='locationEditCTL' class="editar-location ng-cloak">
    <div class='row-fluid'>
        <div class='span4'>
            <div profile-image object='location_o' update-method='/location/updateIcon' delete-method='/location/destroyIcon' image-attr='icon' dir='locations_o' ></div>
        </div>
        <div class="span8"> 
            <div form-helper 
                fields='content.location' 
                object='location_o' 
                action='/location/update' 
                form-title='INFORMACIÓN BÁSICA'
                >
            </div> 
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
           <div form-helper 
                fields='content.locationTexts' 
                object='location_o' 
                action='/location/update' 
                form-title='Textos'
                >
            </div> 
        </div>
    </div>
    <div class='row-fluid'>
        <div file-manager object='location_o' add-method='/location/addFiles' remove-method='location/removeFiles' dir='locations_o/gallery' ></div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <div class="widgetbox">
                <h4 class="widgettitle">
                    Zonas 
                    <span ng-click='toggleZoneForm()' class='fa icon' ng-class='newZoneClass'></span>  
                </h4>
                <div ng-show='showZoneForm'>
                    <div form-helper 
                        fields='content.zoneBasic' 
                        form-footer='Agregar Zona'
                        form-save = 'addZone'
                        object = 'zone' >
                    </div>
                </div>
                <div ng-show='location_o.zones.length'>
                    <div table-helper objects='location_o.zones' columns='content.zoneBasic' route='zone'></div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class='row-fluid'><div class='span12'>
        <div class="widgetbox profile-left ng-form-helper">
            <h4 class="widgettitle">Relacionar con otras ciudades</h4>
            <div class='widgetcontent'>
                <ul class='taglist'>
                    <li ng-repeat="l in relatedLocations">
                        <a href="">
                            <i ng-bind="l.name"></i>
                            <span class='close' ng-click="removeLocation(l)">×</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <form method="post" ng-submit='addLocation(relatedLocation)' >
                <p>
                    <select
                        chosen
                        ng-options='obj as obj.name for obj in notRelatedLocations'
                        ng-model='relatedLocation'
                        ></select>
                    <button type='submit' class="btn btn-primary" ng-if="relatedLocation">Agregar Ciudad</button>
                </p>
            </form>
            </div>
        </div>
    </div></div>
    <div delete-button url='/location' redirect-url='/location' object='location_o' user='user'></div>
</div>

    <div id="cargando-elementos" class="ng-cloak">
        <img src="/images/loaders/images-cm.gif">
    </div>