<div class='col-md-12 filters-form' collapse="!isCollapsedFilter">
    <form ng-repeat='f in filtersArray' class='stdform' ng-show="f.open">
        <div class='row'>
            <div class='col-md-3'>
                <input ng-if='f.type=="date"' ng-model="f.model[f.field].from" placeholder="Desde" type='text' >
                <select ng-if="f.type=='select'" ng-model="f.model[f.field].item" ng-options="obj.key as obj.value for obj in f.options" placeholder="f.label"></select>
            </div>
            <div class='col-md-3' ng-if='f.type=="date"'>
                <input ng-model="f.model[field].to" placeholder="Hasta"  type='text' >
            </div>
            <div class='col-md-2'>
                <button ng-click="sendFilter(f)" class="btn btn-primary">Filtrar</button>
            </div>
        </div>
    </form>
</div>
<div class='col-md-12 active-filters'>
    <span ng-repeat='filter in filters'>{{filter.label}}</span>
</div>