<div class="loginpanel">
  <div class="loginpanelinner">
  <div class="logo"></div>
  <form id="login" action="/session/auth" method="post">
    <div class="inputwrapper login-alert">
      <div class="alert alert-error">Usuario o password inválido</div>
    </div>
    <div class="inputwrapper">
      <input type="text" name="username" id="username" placeholder="username" />
    </div>
    <div class="inputwrapper">
      <input type="password" name="password" id="password" placeholder="password" />
    </div>
    <div class="inputwrapper">
      <button name="submit">Entrar</button>
    </div>
    <div class="inputwrapper">
    </div>
  </form>
  </div>
</div>
