<div ng-controller="clientCTL">
    <div class="span6">
        <div class="alert alert-block unseen">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <h4>Mensaje</h4>
            <p style="margin: 8px 0">El cliente se ha actualizado exitosamente</p>
        </div>
        <div class="widgetbox">
            <div class="widgetcontent nopadding">
                <form action="/clientes/crear" method="get" accept-charset="utf-8" class="stdform stdform2 ng-pristine">
                    <%- partial("partial/form") %>
                    <p class="stdformbutton">
                        <button class="btn btn-primary">Guardar</button>
                        <button type="reset" class="btn">Cancelar</button>
                    </p>
                </form>
            </div>
        </div>
    </div>

</div>
