<div class="modal fade" id="addClientModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action='/clientes/crear' method='post' accept-charset='utf-8' class='stdform stdform2' />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Seleccionar Cliente</h4>
            </div>
            <div class="modal-body">
                <div class="widgetbox">
                    <div class="widgetcontent nopadding">
                        <p>
                            <label for="name">Nombre*</label>
                            <span class="field"><input type="text" name="name" id="name" class="input-large"></span>
                        </p>
                        <p>
                            <label for="address">Direccion*</label>
                            <span class="field"><input type="text" name="address" id="address" class="input-large"></span>
                        </p>
                        <p>
                            <label for="rfc">RFC*</label>
                            <span class="field"><input type="text" name="rfc" id="rfc" class="input-large"></span>
                        </p>
                        <p>
                            <label for="phone">Telefono</label>
                            <span class="field"><input type="text" name="phone" id="phone" class="input-large"></span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <input type="submit" class="btn btn-primary" value='Guardar'>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->