<div class="leftpanel">
    <div class="leftmenu">        
        <ul class="nav nav-tabs nav-stacked">
        	<li class="nav-header">Navegacion</li>
            <li class="active"><a href="dashboard.html"><span class="iconfa-laptop"></span> Tablero</a></li>
            <li><a href="/users/"><span class="iconfa-user"></span>Usuarios</a></li>
        </ul>
    </div>
</div>