<div class="leftpanel">    
    <div class="leftmenu">        
        <ul class="nav nav-tabs nav-stacked">        	
		<li class="nav-header">Navegación</li>
		<li class=""><a href="/home/"><span class="fa fa-th-large"></span><%= __('global-tablero') %> </a></li>
		<%- Common.renderMenu(req)%>
	</ul>
    </div><!--leftmenu-->
    
</div><!-- leftpanel -->
