<li class="right">
    <div class="userloggedinfo">
    	<%var icon = req.user.icon?"/uploads/users/80x80"+req.user.icon.filename:"http://placehold.it/80x80" %>
        <img src="<%=icon%>" alt="" />
        <div class="userinfo">
            <h5><%- req.user.name %><small>- <%-req.user.email%></small></h5>
            <ul>
                <li><a href="/user/edit/<%=req.user.id%>">Editar perfil</a></li>
                <!-- <li><a href="">Configuracion de cuenta</a></li> -->
                <li><a href="/home/logout">Cerrar sesion</a></li>
            </ul>
        </div>
    </div>
</li>
