<form action="/hotel/update" class="editprofileform stdform stdform2 commonForm" method="post">
    <p ng-repeat='field  in _content.hotel'>
        <label ng-bind='field.label'></label>
        <span class="field">
            <textarea ng-if='field.type == "textarea"' name='{{field.handle}}' class='form-control' ng-model='hotel[field.handle]'></textarea>
            <input type='text' ng-if='field.type == "text"' name='{{field.handle}}' class='form-control' ng-model='hotel[field.handle]' />
            <tags-input ng-if='field.type == "taginput"' ng-model='hotel[field.handle]'  ></tags-input>
        </span>
    </p> 
</form>     