<script type='text/javascript'>
    window.tour = <%- JSON.stringify(tour) %>;
    window.locations = <%- JSON.stringify(locations) %>;
    window.content = <%- JSON.stringify(_content) %>;
</script>
<div ng-controller='tourEditCTL'>
    <div class="span4 profile-left profileEdit">
        <div profile-image 
            object='tour' 
            update-method='/tour/updateIcon' 
            delete-method='/tour/destroyIcon' 
            image-attr='icon' 
            dir='tours'>
        </div>  
    </div>
    <div class="span6">
        <div form-helper 
            fields='content.tour' 
            object='tour' 
            action='/tour/save' 
            form-title='INFORMACIÓN BASICA'
            currency='company.base_currency'
            objects='objects'
            >
        </div> 
    </div>  

    <div class='row-fluid'>
        <div file-manager object='tour' add-method='/tour/addFiles' dir='tours/gallery' ></div>
    </div>

    <div class='row-fluid'>
        <div form-helper 
            fields='content.tourLenguajes' 
            object='tour' 
            action='/tour/save' 
            form-title='Lenguajes'
        >
        </div> 

    </div>
</div>
