<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/animate.delay.css">
    <link rel="stylesheet" href="/styles/animate.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-fileupload.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/colorbox.css">
    <link rel="stylesheet" href="/styles/colorpicker.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/fullcalendar.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/isotope.css">
    <link rel="stylesheet" href="/styles/jquery.alerts.css">
    <link rel="stylesheet" href="/styles/jquery.chosen.css">
    <link rel="stylesheet" href="/styles/jquery.jgrowl.css">
    <link rel="stylesheet" href="/styles/jquery.tagsinput.css">
    <link rel="stylesheet" href="/styles/jquery.ui.css">
    <link rel="stylesheet" href="/styles/lato.css">
    <link rel="stylesheet" href="/styles/prettyPhoto.css">
    <link rel="stylesheet" href="/styles/responsive-tables.css">
    <link rel="stylesheet" href="/styles/roboto.css">
    <link rel="stylesheet" href="/styles/style.brown.css">
    <link rel="stylesheet" href="/styles/style.default.css">
    <link rel="stylesheet" href="/styles/style.green.css">
    <link rel="stylesheet" href="/styles/style.navyblue.css">
    <link rel="stylesheet" href="/styles/style.palegreen.css">
    <link rel="stylesheet" href="/styles/style.red.css">
    <link rel="stylesheet" href="/styles/ui.spinner.css">
    <link rel="stylesheet" href="/styles/uniform.tp.css">
    <!--STYLES END-->
  </head>

  <!--<body>-->
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, filesin your `assets/linker/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/bower_components/jquery-ui/ui/minified/i18n/jquery-ui-i18n.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/charCount.js"></script>
    <script src="/js/charts.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/colorpicker.js"></script>
    <script src="/js/elements.js"></script>
    <script src="/js/excanvas.min.js"></script>
    <script src="/js/forms.js"></script>
    <script src="/js/jquery.autogrow-textarea.js"></script>
    <script src="/js/jquery.bxSlider.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/jquery.smartWizard.min.js"></script>
    <script src="/js/jquery.tagsinput.min.js"></script>
    <script src="/js/jquery.uniform.min.js"></script>
    <script src="/js/media.js"></script>
    <script src="/js/responsive-tables.js"></script>
    <script src="/js/ui.spinner.min.js"></script>
    <script src="/js/wysiwyg.js"></script>
    <!--SCRIPTS END-->
  <!--</body>-->
</html>
