<!DOCTYPE html>
<html lang="en" ng-app="spaceerp">
  <head>
    <title>ERP - LOGIN</title>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- <link rel="stylesheet" href="/styles/css/font-awesome.min.css">  -->
    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.css?v=1435713192006">
    <!--STYLES END-->
  
  </head>
  <!-- <link rel="stylesheet" href="/styles/custom/<%= sails.config.template_config.cssFile %>"> -->

  <body class="loginpage">
    <%- body %>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/min/production.js?v=1435713192005"></script>
    <!--SCRIPTS END-->
    
    <!--<script src="/js/controllers/controller.js"></script>-->
    <%// partial('shared/jsTranslateVars') -%> 
  </body>
</html>
