<script type='text/javascript'>
    window.user = <%- JSON.stringify(user) %>;
    window.apps = <%- JSON.stringify(apps) %>;
    window.company = <%- JSON.stringify(selected_company) %>;
</script>
<div ng-controller='userEditCTL'>
    <% if (user.isAdmin) {%>
    <div class="span4 profile-left profileEdit">
        <div class="alert alert-block unseen">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <h4>Mensaje</h4>
                <p style="margin: 8px 0">El usuario se ha actualizado exitosamente</p>
            </div>
            <div profile-image object='user' update-method='/user/updateIcon' delete-method='/user/destroyIcon' image-attr='icon' dir='users'></div>
        <div class="widgetbox tags">
            <h4 class="widgettitle">Aplicaciones y Permisos</h4>
            <div class="widgetcontent">
                <p>
                    <label for="adminInput">Administrador</label>
                    <input type="checkbox" id="adminInput" ng-model="isAdmin" />
                </p>

                <accordion close-others='false' ng-if="isAdmin">
                    <accordion-group heading="{{app.label}}" ng-repeat="app in apps" ng-if="filterApp(app)" style="cursor: pointer;">
                        <table class="table responsive">
                            <thead>
                                <tr>
                                    <th>Permiso</th>
                                    <th>Escoger</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='action in app.actions track by action.handle' ng-init="permissions[action.handle] = getPermission(action.handle)">
                                    <td>
                                        <label ng-bind='action.label' for="{{action.handle}}"></label>
                                    </td>
                                    <td>
                                         <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="{{action.handle}}" ng-model="permissions[action.handle]" />
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <a class="btn btn-primary" ng-click="updateAccestList()">Actualizar Usuario</a>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
    <% } %>
    <div class="span6">
        <div form-helper
             fields='content.user'
             object='user'
             action='/user/updateInfo'
             form-title='Información Basica'
             hidden-fields='hiddenFields'
             >
        </div>


    </div>
    <% if (req.user.isAdmin || req.user.id == user.id) {%>
        <div class="span6">
            <%- partial('change-password') -%>
        </div>
    <% } %>
</div>
