<p><label for='user_name'>Nombre*</label><span class='field'><input type='text' name='user_name' class='form-control required'  /></span></p>	
<p><label for='last_name'>Apellidos*</label><span class='field'><input type='text' name='last_name' class='form-control required'  /></span></p>			
<p><label for='email'>Email*</label><span class='field'><input type='text' name='email' class='form-control required'  /></span></p>		
<p><label for='password'>Contraseña*</label><span class='field'><input type='password' name='password' class='form-control required' /></span></p>					
<!-- <p><label for='app_select'>Aplicaciones</label>
<span class="field">
	<select name='app_select' multiple='multiple' class='chzn-select form-control large' data-placeholder="Agregar Aplicaciones..." style='width:285px'>
		<% for(var i=0;i<apps.length;i++){ %>
			<option value='<%= apps[i].controller %>'><%=apps[i].name%></option>
		<% } %>
	</select>
</span></p>
<p>
	<label>Avatar</label>		
	<span class='field'>
		<span class="fileupload fileupload-new" data-provides="fileupload">
			<span class="input-append">
			<span class="uneditable-input span2">
			    <i class="fa fa-file fileupload-exists"></i>
			    <span class="fileupload-preview"></span>
			</span>
			<span class="btn btn-file">
				<span class="fileupload-new">Archivo</span>
				<span class="fileupload-exists">Cambiar</span>
				<input type="file" name='icon_input' />
			</span>
			<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
		</span>
	    </span>
	</span>
</p> -->