<script type='text/javascript'>
    window.package_t = <%- JSON.stringify(package_t) %>;
    window.items = <%- JSON.stringify(items) %>;
    window.locations = <%- JSON.stringify(locations) %>;
    window.userID = <%- JSON.stringify(req.user.id) %>;
</script>
<div ng-controller='packageEditCTL' class="editar-package-tour ng-cloak">
    <div class='row-fluid'>
        <div class='span4'>
            <div profile-image object='package_t' update-method='/packagetour/updateIcon' delete-method='/packagetour/destroyIcon' image-attr='icon' dir='packagetour' ></div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12"> 
            <div form-helper 
                fields='content.packages' 
                object='package_t' 
                action='/packagetour/update' 
                form-title='INFORMACIÓN BÁSICA'
                >
            </div> 
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <div class="widgetbox">
                <h4 class="widgettitle">
                    Hoteles
                    <span ng-click='isCollapsed2=!isCollapsed2' class='fa icon {{isCollapsed2?"fa-plus":"fa-minus"}}' ng-class="{{isCollapsed2?'fa-plus':'fa-minus'}}"></spa>  
                </h4>
                <div ng-hide="isCollapsed2"><div>
                    <div form-helper 
                        fields='content.packageHotel' 
                        form-footer='Agregar Hotel'
                        form-save = 'addDay'
                        hidden-fields = "hiddenFieldsH"
                        object = 'thehotel'
                        objects = '{categories:categories}' >
                    </div>
                </div></div>
                <div ng-show='items.hotel'>
                    <div table-helper objects='items.hotel' columns='content.packageDayBasic' route='packageitem'></div>
                </div>
            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <div class="widgetbox">
                <h4 class="widgettitle">
                    Días de tour 
                    <span ng-click='isCollapsed=!isCollapsed' class='fa icon {{isCollapsed?"fa-plus":"fa-minus"}}' ng-class="{{isCollapsed?'fa-plus':'fa-minus'}}"></spa>  
                </h4>
                <div ng-hide="isCollapsed"><div>
                    <div form-helper 
                        fields='content.packageDay' 
                        form-footer='Agregar Día'
                        form-save = 'addDay'
                        hidden-fields = "hiddenFields"
                        object = 'theday'
                        objects = '{daysnumber:daysnumber,locations:locations}' >
                    </div>
                </div></div>
                <div ng-show='items.day'>
                    <div table-helper objects='items.day' columns='content.packageDayBasic' route='packageitem'></div>
                </div>
            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12"> 
            <div geo-marker 
                save-function = "updateMarkers"
                custom-fields = "[]"
                center = "center"
                markers = "themarkers"
                sizes = "{ height: '350px' }"
                drag-enabled = "false"
            ></div>
        </div>
    </div>
    <br/>
    <div delete-button url='/package_t' redirect-url='/package_t' object='package_t' user='user'></div>
    <br/>
</div>package_t

    <div id="cargando-elementos" class="ng-cloak">
        <img src="/images/loaders/images-cm.gif">
    </div>