<script type='text/javascript'>
    window.service = <%- JSON.stringify(service) %>;
</script>
<div ng-controller='serviceEditCTL'>
    <div class='row-fluid'>
        <div class="span12">        
            <div form-helper 
                fields='content.service' 
                object='service' 
                action='/service/update' 
                form-title='<%= __('service-info')%>'
                >
            </div> 
        </div>
    </div>
    <br/>
</div>