<script type='text/javascript'>
	window.services = <%- JSON.stringify(services) %>;
	window.content = <%- JSON.stringify(_content) %>;
</script>
<div ng-controller="serviceCTL">
	<p><button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><%= __('service-nuevo')%></button></p>
	<br/>
	<div 
		directory-listing 
		objects='services' 
		searchInput='searchInput' 
		dir='services' 
		edit-url='/service/edit/' 
		get-info='getInfo'
		name-var='name_es' ></div>

	<div class="clearfix"></div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div 
					form-helper 
			        fields='content.service' 
			        form-footer='Agregar'
			        form-save = 'createService'
			        object = 'service'
			        form-title='<%= __('service-agregar')%>'
			       	modal='true'
			        >
			    </div>
			</div>
		</div>
	</div>
</div>