<div class='row-fluid'>
    <div class='span12'>
        <div class='headtitle'>
            <div class='btn-group'><a class="btn btn-primary pull-right" ng-click="removeTour($index)"><i class='fa fa-times'></i> Eliminar</a></div>
            <h4 class="widgettitle"><span>Reservar tour: <span ng-bind="item.tour.name"></span></span></h4>
        </div>
        <div class='widgetcontent nopadding'>
            <p>
                <label> Fecha</label>
                <span class='field'><span class='input-group calendar-container'>
                    <input is-open="open[$index+2]" ng-model='item.startDate' datepicker-popup />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,$index+2)"><i class="fa fa-calendar"></i></button>
                    </span>
                </span></span>
            </p>
            <p>
                <label> Adultos</label>
                <span class='field'><select ng-options='obj for obj in [1,2,3,4,5,6,7,8,9,10]' ng-model='item.adultNumber' ></select></span>
            </p>
            <p>
                <label> Menores</label>
                <span class='field'><select ng-options='obj for obj in [1,2,3,4,5,6,7,8,9,10]' ng-model='item.childrenNumber' ></select></span>
            </p>
        </div>
    </div>
</div>