<script type='text/javascript'>
	window.lostandfounds = <%- JSON.stringify(lostandfounds) %>;
	window.content = <%- JSON.stringify(_content) %>;
    console.log(lostandfounds);
</script>
<div ng-controller='lostandfoundCTL' >
	<div class='row'>
		<div class = "textbutton col-sm-12 col-xs-12">
			<p><a href="/lostandfound/newitem" class='btn btn-primary'><i class = "fa fa-plus"></i> Nuevo reporte</a></p>
			<br />
		</div>
	</div>
	<div class='row'>
		<div class='col-sm-12'>
			<div class="widgetcontent custom-table nopadding">
                <table class="table table-striped">
                    <tr class='hide-sm'>
                        <th>Id</th>
                        <th>Usuario</th>
                        <th>Cliente</th>
                        <th>Encontrado</th>
                        <th>Fecha</th>
                        <th><%= __('order-editar') %></th>
                    </tr>
                    <tr ng-repeat="lf in lostandfounds">
                        <td class='show-sm th'>Reporte de objeto perdido: {{lf.order.client.name}}</td>
                        <td data-title='Id'><span ng-bind="lf.id"></span></td>
                        <td data-title='Usuario'><span ng-bind="lf.user.name"></span></td>
                        <td data-title='Cliente'><span ng-bind="lf.order.client.name"></span></td>
                        <td data-title='Encontrado'><i class="fa {{lf.found?'fa-check':'fa-times'}}"></i></td>
                        <td data-title='Fecha'><span ng-bind="formatDate(lf.createdAt)"></span></td>
                        <td data-title='Editar'><a ng-href="/lostandfound/edit/{{lf.id}}"><span class="table-icon fa fa-edit"></span></a></td>
                    </tr>
                </table>
            </div>
		</div>
	</div>
</div>