<script type='text/javascript'>
	window.lostandfounds = <%- JSON.stringify(lostandfounds) %>;
	window.content = <%- JSON.stringify(_content) %>;
	window.user = <%- JSON.stringify(current_user) %>;
</script>
<div ng-controller='lostandfoundCTL' >
	<p>
		<a class='btn btn-primary' ng-click="">Generar reporte</a>
	</p>
	<br>
	<div class='row'>
		<div class='co-sm-12'>
			<div class="widgetbox stdform stdform2">
	            <div class='headtitle'>
	                <h4 class="widgettitle">Orden de reserva</h4>
	            </div>
	            <div class='widgetcontent nopadding'>
	                <p>
	                    <label>Folio</label>
	                    <span class='field'><input ng-change="getOrder()" type='text' name='folio' ng-model="lostandfound.order"></span>
	                </p>
	            </div>
	        </div>
	        <div class="widgetbox stdform stdform2">
	            <div class='headtitle'>
	                <h4 class="widgettitle">Buscar una reserva</h4>
	            </div>
	            <div class='widgetcontent nopadding'>
	            	<p>
	                    <label>Tipo de reserva</label>
	                    <span class='field'>
	                    	<select ng-model="searchOrder.reservation_type" ng-options="obj.id as obj.name for obj in rtypes"></select>
	                    </span>
	                </p>
	                <p>
	                    <label>nombre</label>
	                    <span class='field'><input type='text' name='name' ng-model="searchOrder.name"></span>
	                </p>
	                <p>
	                    <label>Apellido</label>
	                    <span class='field'><input type='text' name='name' ng-model="searchOrder.last_name"></span>
	                </p>
	                <p>
	                    <label>Fecha en que se hizo la reserva</label>
	                    <span class='field'><input type='text' name='name' ng-model="searchOrder.createdAt"></span>
	                </p>
	                <p class='stdformbutton'>
	                	<button ng-click="searchOrderfx()" class="btn btn-primary">Buscar</button>
	                </p>
	            </div>
	        </div>
	        <div class="widgetbox" ng-if='theorders'>
	        	<table class='table table-invoice'>
	        		<tr>
	        			<th>folio</th>
	        			<th>Fecha de orden</th>
	        			<th>Cliente</th>
	        			<th>Reservas</th>
	        			<th>Seleccionar</th>
	        		</tr>
	        		<tr ng-repeat="o in theorders">
	        			<td>{{o.id}}</td>
	        			<td>{{formatDate(o.createdAt)}}</td>
	        			<td>{{o.client.name}} {{o.client.last_name}}</td>
	        			<td>
	        				<div ng-repeat="reserv in theorder.reservations">
	        					<p><strong>Reserva de: {{reserv.reservation_type}} | {{reserv.state}} </strong></p>
	        					<p>Fecha de reserva: {{formatDate(reserv.startDate)}} </p>
	        					<p>Agencia: {{theorder.company.name}} </p>
	        					<p>Número de personas: {{reserv.pax}} </p>
	        					<p>Método de pago: {{reserv.payment_method}} </p>
	        					<p>Monto: {{reserv.fee | currency}}</p>
	        				</div>
	        			</td>
	        			<td>
	        				<button ng-click="selectOrder(o)" class='btn btn-primary'>Seleccionar</button>
	        			</td>
	        		</tr>
	        	</table>
	        </div>
	        <br>
	        <div class="widgetbox" ng-if='theorder'>
	        	<table class='table table-invoice'>
	        		<tr>
	        			<td>Cliente</td>
	        			<td>
	        				<p><strong>Nombre:</strong> {{theorder.client.name}} {{theorder.client.last_name}}</p>
	        				<p><strong>Email:</strong> {{theorder.client.email}}</p>
	        				<p><strong>Teléfono:</strong> {{theorder.client.phone}}</p>
	        			</td>
	        		</tr>
	        		<tr>
	        			<td>Fechas</td>
	        			<td>
	        				<p><strong>Reservado:</strong> {{formatDate(theorder.createdAt)}}</p>
	        			</td>
	        		</tr>
	        		<tr>
	        			<td>Reservas</td>
	        			<td>
	        				<div ng-repeat="reserv in theorder.reservations">
	        					<p><strong>Reserva de: {{reserv.reservation_type}} | {{reserv.state}} </strong></p>
	        					<p>Agencia: {{theorder.company.name}} </p>
	        					<p>Número de personas: {{reserv.pax}} </p>
	        					<p>Método de pago: {{reserv.payment_method}} </p>
	        					<p>Monto: {{reserv.fee | currency}}</p>
	        				</div>
	        			</td>
	        		</tr>
	        	</table>
	        </div>
	        <br>
	        <div class="widgetbox stdform stdform2">
	        	<div form-helper
	        		form-footer='Agregar'
	                fields='content.lostandfound'
	                form-save = "savelaf"
	                object = 'lostandfound'
	                hidden-fields = 'hiddenFields'
	                objects='{}' ></div>
			</div>
		</div>
	</div>
</div>