<!--<p>filtros</p>-->
<div class="col-md-12">
	<div class="buttons-box">
	<!-- Single button -->
		<div class="btn-group">
		  <button type="button" class="btn btn-default button-orange dropdown-toggle" data-toggle="dropdown">
		    <span class="table-icon fa fa-filter"></span> FILTROS <span class="fa fa-caret-down"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="#">Action</a></li>
		    <li><a href="#">Another action</a></li>
		    <li><a href="#">Something else here</a></li>
		    <li class="divider"></li>
		    <li><a href="#">Separated link</a></li>
		  </ul>
		</div>	
		<a href="#" class="btn btn-default button-orange"><span class="table-icon fa fa-plus"></span> AGREGAR PRODUCTO</a>		
	</div>
	<div class="widgetcontent custom-table nopadding">
		<table class="table table-striped">
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Tipo</th>
				<th>Editar</th>
			</tr>
			<% for(var i = 0; i< 3; i++){ %>
				<tr>
					<td>25-06-2014</td>
					<td><a href="#">Producto UNO</a></td>
					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
					<td>Rotulación</td>
					<td><a href="#"><span class="table-icon fa fa-edit"></span></a></td>
				</tr>
			<% } %>
		</table>
	</div>
</div> 

