<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <script>
        <% if (typeof product != 'undefined') { %>
            window.product = <%- JSON.stringify(product) %>;
        <% } else {  %>
            window.product = {};
        <% } %>
        window.product_types = <%- JSON.stringify(product_types) %>;
    </script>
    <div class="modal-content" ng-controller='productCTL'>
      <form accept-charset='utf-8' enctype='multipart/form-data' class='stdform stdform2' ng-submit="createProduct()">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Nuevo Producto</h4>
	      </div>
	      <div class="modal-body">
              <div class="widgetbox">
                  <div class="widgetcontent nopadding">
				<%- partial('new-basic') -%>
                  </div>
              </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        <input type="submit" class="btn btn-primary" value='Guardar'>
	      </div>
	</form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->