<p>
	<label for="name">Nombre*</label>
	<span class="field"><input type="text" name="name" class="form-control" ng-model='product.name' required></span>
</p>

<p>
	<label for="address">Categoria*</label>
	<span class="field">
		<select name="product_type" class="form-control" ng-options='k as l for (k,l) in product_types' ng-model='product.product_type' required chosen></select>
        <span class="error" ng-show="product.product_type.$error.required">*</span>
	</span>
</p>

<p>
	<label for="internalreference">Referencia Interna</label>
	<span class="field"><input type="text" name="internalReference" class="form-control" ng-model='product.internalReference'></span>
</p>

<p>
	<label for="name">Codigo de Barras</label>
	<span class="field"><input type="text" name="barCode" class="form-control" ng-model='product.barCode'></span>
</p>

<p>
	<label for="description">Descripción</label>
	<span class="field"><textarea name="description" class="form-control" ng-model='product.description' ></textarea></span>
</p>
