<h4 class="widgettitle">Informacion de Cotizacion</h4>
<div class="widgetcontent nopadding">
    <form method="post" accept-charset="utf-8" enctype="multipart/form-data" class="stdform stdform2 ng-pristine" ng-submit="processPricing()">
        <input type='hidden' ng-value='product.id' name='pid' />
        <% if (product_type.sales_type == 'sale') {
            var postfix = product_type.inventory_type == 'metro2' ? "m2" : product_type.inventory_type == 'metro2' ? "m" : "";
        %>
            <p>
                <label>Costo</label>
                <span class="field">
                    <span class="input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control" type="text" ng-model='product.price.cost'>
                    </span>
                </span>
            </p>

            <p>
                <label>Margen de ganancia</label>
                <span class="field">
                    <span class="input-group">
                        <input type="text" ng-model='product.price.margin' class="form-control" />
                        <span class="input-group-addon">%</span>
                    </span>
                </span>
            </p>

            <p>
                <label>Precio publico</label>
                <span class="field" class="form-control">{{calculatePrice()}}</span>
            </p>

        <% } else if (product_type.sales_type == 'rent') { %>
            <p>
                <label for="price_per_time">Precio por hora</label>
                <span class="field"><textarea name="price_per_hour" id="price" ng-model='product.price_per_hour' class="form-control" ></textarea></span>
            </p>
        <% } else if (product_type.sales_type == 'service') { %>
            <p>
                not implemented
            </p>
        <% } %>
        <p class="stdformbutton">
            <button class="btn btn-primary">Guardar</button>
        </p>
    </form>
</div>