<div class="modal fade" id='productModal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Productos</h4>
            </div>
            <div class="modal-body">
                <%- partial('add-table') %>
            <hr>
                 <form method='post' action='/salesQuote/addProduct'>
                    <h3 ng-bind='currentProduct.name'></h3>
                    <p>
                        <label for="name">Cantidad*</label>
                        <span class="field">
                            <input type="text" name="quantity" class="form-control" />
                        </span>
                    </p>
                    <p>
                        <label for="name">Descuento*</label>
                        <span class="field">
                            <input type="text" name="quantity" class="form-control" />
                        </span>
                    </p>


                    <p ng-repeat='(handle,field) in currentProduct.fields '>
                        <label for="handle" ng-bind='field.name'></label>
                        <span class="field">
                            <input type="text" name="handle" class="form-control" />
                        </span>
                    </p>
                    
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Terminar</button>
                <input type="submit" class="btn btn-primary" value='Guardar'>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
