<table class="table table-striped">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Tipo</th>
			<th>Referencia</th>
			<th>Precio</th>
			<th>Editar</th>
			<th>Agregar</th>
			<th>Cantidad</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat='product in products'>
			<td  data-title="Nombre"><a href="#" ng-href='/product/edit/{{product.id}}' ng-bind='product.name'></a></td>
			<td ng-bind='product.description' data-title="Descripcion"></td>
			<td ng-bind='product.type' data-title="Tipo"></td>
			<td ng-bind='product.internalReference' data-title="Referencia"></td>
			<td ng-bind='product.price' data-title="Precio "></td>
			<td data-title="Editar"><a ng-href='/product/edit/{{product.id}}' ><span class="table-icon fa fa-edit"></span></a></td>
			<td><input type="checkbox" data-title="Agregar"
            ng-model="product.select" ng-change="selectCount(product)"/></td>
			<td><input type="number" data-title="Cantidad" class="number"
            ng-model="product.count" /></td>
		</tr>
	</tbody>
</table>
