<% for(var i=0; i<12; i++){ %>
	<div class="calendario">
		<div class = "thead">
			<h3>MES</h3>
		</div>
		<div class = "week">
			<ul class = "tr">
				<li class="weekend">DOM</li>
				<li>LUN</li>
				<li>MAR</li>
				<li>MIE</li>
				<li>JUE</li>
				<li>VIE</li>
				<li class="weekend">SAB</li>
			</ul>
		</div>
		<div class = "tbody">
			<ul class = "tr">
				<li class="previous weekend"><span class="date">29</span></li>
				<li class="previous"><span class="date">30</span></li>
				<li class="previous"><span class="date">31</span></li>
				<li><span class="date">1</span></li>
				<li><span class="date">2</span></li>
				<li><span class="date">3</span></li>
				<li class="weekend"><span class="date">4</span></li>
			</ul><br/>
			<ul class = "tr">
				<li class="weekend"><span class="date">5</span></li>
				<li><span class="date">6</span></li>
				<li><span class="date">7</span></li>
				<li><span class="date">8</span></li>
				<li><span class="date">9</span></li>
				<li><span class="date">10</span></li>
				<li class="weekend"><span class="date">11</span></li>
			</ul><br/>
			<ul class = "tr">
				<li class="weekend"><span class="date">12</span></li>
				<li><span class="date">13</span></li>
				<li><span class="date">14</span></li>
				<li><span class="date">15</span></li>
				<li><span class="date">16</span></li>
				<li><span class="date">17</span></li>
				<li class="weekend"><span class="date">18</span></li>
			</ul><br/>
			<ul class = "tr">
				<li class="weekend"><span class="date">19</span></li>
				<li><span class="date">20</span></li>
				<li><span class="date">21</span></li>
				<li><span class="date">22</span></li>
				<li><span class="date">23</span></li>
				<li><span class="date">24</span></li>
				<li class="weekend"><span class="date">25</span></li>
			</ul><br/>
			<ul class = "tr">
				<li class="weekend"><span class="date">26</span></li>
				<li><span class="date">27</span></li>
				<li><span class="date">28</span></li>
				<li><span class="date">29</span></li>
				<li><span class="date">30</span></li>
				<li><span class="date">31</span></li>
				<li class="weekend next"><span class="date">1</span></li>
			</ul>
		</div>
	</div>
<% } %>