<div class=' ng-calendar-frame'>
	<div class = "calendar-nav row">
		<div class = "traverse col-md-6 col-sm-6 col-xm-6 ">
			<button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class = "fa fa-chevron-circle-left"></span></button>
			<p>TEMPORADAS AÑO 2014</p>
			<button class="btn btn-primary c" data-toggle="modal" data-target="#myModal"><span class = "fa fa-chevron-circle-right"></span></button>
		</div>	
		<div class = "seasons-buttons col-md-6 col-sm-6 col-xs-6">
			<button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class = "fa fa-plus"></span> AGREGAR NUEVA TEMPORADA</button>
			<button class="btn btn-primary" data-toggle="modal" data-target="#myModal"> TEMPORADAS </button>
		</div>
	</div>
	<div class = "clear">
	</div>

	<div class = "calendar-output row">
		<div class = "col-md-4">
			<li><span class = "fa fa-circle"></span>Se encontraron 2 temporadas SEMANA SANTA</li>
			<li><span class = "fa fa-circle"></span>Se encontraron 4 temporadas VERANO</li>
			<li><span class = "fa fa-circle"></span>Se encontraron 3 temporadas INVIERNO</li>
		</div>
		<div class = "col-md-8">
			<li><span class = "fa fa-circle"></span>Se encontraron 2 temporadas SEMANA SANTA</li>
			<li><span class = "fa fa-circle"></span>Se encontraron 4 temporadas VERANO</li>
			<li><span class = "fa fa-circle"></span>Se encontraron 3 temporadas INVIERNO</li>
		</div>
	</div>
	<div class = "clear">
	</div>

	<div class = "calendar-positioning row">
		<div calendar-month year='2014' month='month' ng-repeat='month in range0:11)'></div>
	</div>
</div>