<div class="widgetbox">
    <h4 class="widgettitle">Gruas</h4>
    <div class="widgetcontent nopadding">
        <form accept-charset="utf-8" enctype="multipart/form-data" class="stdform stdform2 ng-pristine" ng-submit="processCranes()">
            <table class="table responsive">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th colspan="2">Precio por dia</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="crane in cranes track by $index">
                    <td data-title="Nombre"><input type="text" ng-model="crane.name" class="span2" value="{{crane.name}}"/><input type="hidden" value="{{crane.id}}" /></td>
                    <td data-title="Precio por dia"><input type="text" ng-model="crane.price" class="span2" value="{{crane.price}}" /></td>
                    <td><span ng-click="deleteCrane($index)" class="icon fa fa-eraser"></span></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <a class="btn btn-default button-orange" ng-click="addCrane()"><span class="table-icon fa fa-plus"></span> Grua</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="stdformbutton">
                <button class="btn btn-primary">Guardar</button>
            </p>
        </form>
    </div>
</div>