<p>
    <label for="name">Nombre* :</label>
    <span class="field"><input type="text" id="name" name="name" class="form-control" ng-model='machine.name'></span>
</p>
<p>
    <label for="description">Descripcion :</label>
    <span class="field"><textarea id="description" name="description" class="form-control" ng-model='machine.description'></textarea></span>
</p>
<p>
    <label for="internalreference">Referencia Interna :</label>
    <span class="field"><input type="text" id="internalreference" name="internalReference" class="form-control" ng-model='machine.internalReference'></span>
</p>
