<div class="col-md-12">
    <div class="widgetcontent custom-table nopadding" ng-controller="installationCTL">
        <form class="stdform stdform2 ng-pristine" ng-submit="editInstallation('<%- quote.id %>')">
            <%- partial('form') %>
            <div class="buttons">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="setStep(1)">Cancelar</button>
                <input ng-if="step == 4" type="submit" class="btn btn-primary" value='Agregar'>
                <input ng-if="step != 4" ng-click="setStep(step+1)" type="button" class="btn btn-primary" value='Siguiente'>
            </div>
        </form>
    </div>
</div>