<script type='text/javascript'>
    window.installations = <%- JSON.stringify(installations) %>;
</script>
<div class="col-md-12" ng-controller='installationCTL'>
	<div class="buttons-box">
		<div class="btn-group">
		  <button type="button" class="btn btn-default button-orange dropdown-toggle" data-toggle="dropdown">
		    <span class="table-icon fa fa-bars"></span> Filtros <span class="fa fa-caret-down"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="#">Action</a></li>
		    <li><a href="#">Another action</a></li>
		    <li><a href="#">Something else here</a></li>
		  </ul>
		</div>
	</div>
	<div class="widgetcontent custom-table nopadding">
		<%- partial('table') %>
	</div>
	<%- partial('new-modal') -%>	
</div> 
