<div class="widgetbox">
    <h4 class="widgettitle">Tipos de trabajo</h4>
    <div class="widgetcontent nopadding">
        <form accept-charset="utf-8" enctype="multipart/form-data" class="stdform stdform2 ng-pristine" ng-submit="processWorkTypes()">
            <table class="table responsive">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th colspan="2">Precio</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="work_type in work_types track by $index">
                    <td data-title="Nombre"><input type="text" ng-model="work_type.name" class="span2" value="{{work_type.name}}"/><input type="hidden" value="{{work_type.id}}" /></td>
                    <td data-title="Precio"><input type="text" ng-model="work_type.price" class="span2" value="{{work_type.price}}" /></td>
                    <td><span ng-click="deleteWorkType($index)" class="icon fa fa-eraser"></span></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <a class="btn btn-default button-orange" ng-click="addWorkType()"><span class="table-icon fa fa-plus"></span> Tipo de trabajo</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="stdformbutton">
                <button class="btn btn-primary">Guardar</button>
            </p>
        </form>
    </div>
</div>