<div ng-controller="saleAddCTL">
    <div class="span6">
        <div class="alert alert-block unseen">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <h4>Mensaje</h4>
            <p style="margin: 8px 0">La venta se ha creado exitosamente</p>
        </div>
        <div class="widgetbox">
            <div class="widgetcontent nopadding">
                <h4 class="widgettitle">Cliente</h4>
                <form accept-charset="utf-8" class="stdform stdform2 ng-pristine" ng-submit="processForm()">
                    <p>
                        <label for="client_id">Selecciona un cliente :</label>
						<span class="field">
                            <span>
                                <select class='form-control large required' data-placeholder="Selecciona ..." chosen="clients" ng-model="client" ng-options="client.name for client in clients">
                                </select>
                            </span>
                            <span>
                                <a href="/clientes/agregar" class="btn btn-default">Crear Nuevo</a>
                            </span>
                        </span>
                    </p>
                    <h4 class="widgettitle">Cotizacion</h4>
                    <p>
                        <label for="products">Selecciona los productos :</label>
                        <span class="field">
                            <select id='products' class='form-control large' data-placeholder="Selecciona ..." multiple chosen="products" ng-model="selectedProducts" ng-options="product.name for product in products">
                            </select>
                        </span>
                    <p>
                    <p>
                        <table class="table responsive">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sp in selectedProducts track by $index">
                                    <td data-title="Producto">{{sp.name}}</td>
                                    <td data-title="Cantidad"><input type="number" class="input-small input-spinner" min="1" maxlength="2" ng-model="sp.quantity" value="{{sp.quantity}}"></td>
                                    <td data-title="Precio Unitario">{{sp.price}}</td>
                                    <td data-title="Precio">{{sp.price * sp.quantity}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="amountdue">
                            <h1><span>Total:</span> {{totalPrice()}}</h1>
                        </div>
                    </p>
                    <p class="stdformbutton">
                        <input type="submit" class="btn btn-primary" value="Guardar"/>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
