<div class="modal fade" id="addInvoiceModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form
                    action='/sale/addInvoice/'
                    method='post'
                    accept-charset='utf-8'
                    class='stdform stdform2'
                    enctype='multipart/form-data'
                    />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Nueva Factura</h4>
            </div>
            <div class="modal-body">
                <p><label for='name'>Nombre*</label><span class='field'><input type='text' name='name' class='form-control required'  /></span></p>
                <p><label for='name'>Tipo*</label><span class='field'><input type='text' name='name' class='form-control required'  /></span></p>
                <p><label for='last_name'>Descripcion</label><span class='field'><input type='text' name='last_name' class='form-control required'  /></span></p>

                <p><label for='email'>Monto*</label><span class='field'><input type='text' name='email' class='form-control required'  /></span></p>
                <p><label for='password'>Archivo</label><span class='field'><input type='password' name='password' class='form-control required' /></span></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Crear nuevo</button>
                <input type="submit" class="btn btn-primary" value='Guardar'>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->