<div ng-controller="saleCTL">
    <div class="row-fluid">
        <div class="col-md-12">
            <!--<h4 class="widgettitle"><span class="iconfa-pencil"></span> Ventas</h4>-->
            <div class="widgetcontent custom-table nopadding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Vendedor</th>
                            <th>Status</th>
                            <th>Monto</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <% for(var i = 0; i< 3; i++){ %>
                    <tr>
                        <td data-title="Fecha">25-06-2014</td>
                        <td data-title="Vendedor"><a href="/sale/edit/1">Salvador Barron</a></td>
                        <td data-title="Status">En proceso</td>
                        <td data-title="Monto">$2,500.00 MXN</td>
                        <td data-title="Editar"><a href="/sale/edit/1"><span class="table-icon fa fa-file"></span></a></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>

    </div>




</div>