<script type='text/javascript'>
    window.zone = <%- JSON.stringify(zone) %>;
    console.log(zone);
</script>
<div ng-controller='zoneEditCTL'>
    <div class='row-fluid'>
        <div class="span5 profile-left profileEdit">
        	<div class="alert alert-block unseen">
        		<button data-dismiss="alert" class="close" type="button">×</button>
        		<h4>Mensaje</h4>
        			<p style="margin: 8px 0">La zona se ha actualizado exitosamente</p>
        	</div>
            <div profile-image
                object='zone' 
                update-method='/zone/updateIcon' 
                delete-method='/zone/destroyIcon' 
                image-attr='icon' 
                dir='zones'>
            </div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12">
            <div form-helper 
                fields='content.zoneBasic' 
                object='zone' 
                action='/zone/save' 
                form-title='INFORMACIÓN BASICA'
                >
            </div>        
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12">
            <div form-helper 
                fields='content.zoneComplement' 
                object='zone' 
                action='/zone/save' 
                form-title='INFORMACIÓN EXTRA'
                >
            </div>        
        </div>
    </div>
    <div class='row-fluid'>
        <div file-manager object='zone' add-method='/zone/addFiles' remove-method='zone/removeFiles' dir='zones/gallery' ></div>
    </div>
</div>