<div ng-controller="noticeCTL">

	<div class="col-md-5">
		<h4 class="widgettitle"><span class="fa fa-user"></span> Cliente</h4>
		<div class="widgetcontent main-client">
			<img src="#" class="pull-left" alt="avatar" width="80">
			<div class="client-info">
				<p><strong><a href="#">Salvador Barron</a></strong> OFFLINE</p>
				<p><strong>Compañia: </strong>Spaceshiplabs</p>
				<p><strong>Direccion: </strong> Av. Bonampak, C. Cereza No.1 Sm 2A</p>
				<p><strong>Telefono: </strong>+51 (998) 231 0456</p>				
			</div>
		</div>
	</div>
	<%- partial('../global/notices') -%>
	<div class="clear"></div>
	<div class="row">
		<div class="col-md-12">
			<h4 class="widgettitle"><span class="iconfa-pencil"></span> Ventas</h4>
			<div class="widgetcontent custom-table nopadding">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Fecha</th>
							<th>Vendedor</th>
							<th>Status</th>
							<th>Monto</th>
							<th>PDF</th>
							<th>Enviar por mail</th>
						</tr>
					</thead>
					<% for(var i = 0; i< 3; i++){ %>
						<tr>
							<td data-title="Fecha">25-06-2014</td>
							<td data-title="Vendedor"><a href="#">Salvador Barron</a></td>
							<td data-title="Status">En proceso</td>
							<td data-title="Monto">$2,500.00 MXN</td>
							<td data-title="PDF"><a href="#"><span class="table-icon fa fa-file-pdf-o"></span></a></td>
							<td data-title="Enviar por mail"><a href="#"><span class="table-icon fa fa-send"></span></a></td>
						</tr>
					<% } %>
				</table>
			</div>
		</div> 
		
	</div>
	<div class="clear"></div>
	<div class="row">
		<div class="col-md-5">
			<h4 class="widgettitle"><span class="fa fa-cog"></span> Ordenes de trabajo</h4>
			<div class="widgetcontent custom-table nopadding">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Fecha</th>
							<th>Asignado a</th>
							<th>Status</th>
							<th>Concepto</th>
						</tr>
					</thead>
					<% for(var i = 0; i< 3; i++){ %>
						<tr>
							<td data-title="Fecha">25-06-2014</td>
							<td data-title="Asignado a"><a href="#">Salvador Barron</a></td>
							<td data-title="Status">En proceso</td>
							<td data-title="Concepto">$2,500.00 MXN</td>
						</tr>
					<% } %>
				</table>
			</div>
		</div> 
		<div class="col-md-7">
			<h4 class="widgettitle"><span class="fa fa-money"></span> Facturación</h4>
			<div class="widgetcontent custom-table nopadding">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Tipo</th>
							<th>Descripcion</th>
							<th>Cantidad</th>
							<th>Monto</th>
						</tr>
					</thead>
					<% for(var i = 0; i< 3; i++){ %>
						<tr>
							<td data-title="Tipo">Branding</td>
							<td data-title="Descripcion"><a href="#">Lorem ipsum dolor sit amet</a></td>
							<td data-title="Cantidad">3</td>
							<td data-title="Monto">$5000.00 MXN</td>
						</tr>
					<% } %>
				</table>
			</div>
		</div> 
		
	</div>
</div>
