<script type='text/javascript'>
	window.content = <%- JSON.stringify(_content) %>;
</script>
<div>
	<div class='row-fluid' ng-controller="dashboardCTL">
		<% if (req.user.hasPermission(req.res.locals.selected_company.id,'cotizaciones')) {%>
			<div class="span6" 
			statistics-chart 
			chart-type="Pie" 
			chart-title="Estado de cotizaciones"></div>
		<% } %>
		<div notices></div> 
	</div>
	<div class="row-fluid dashboard-row">
		<div class="span6" 
		statistics-chart 
		chart-type="PolarArea" 
		chart-title="Reservaciones"></div>
		<div class="span6" ng-controller="currencyCTL">
			<%- partial('../admin/currencies_charts') -%> 
		</div>	
	</div>
	<div class="row-fluid">
		<div class="span12" 
		time-line-chart 
		chart-title="Reservaciones"></div>		
	</div>
</div>
