<script type='text/javascript'>
	window.content = <%- JSON.stringify(_content) %>;
</script>
<div>
	<div class='row-fluid'>
        <% if (req.user.hasPermission(req.res.locals.selected_company.id,'cotizaciones')) {%>
		    <div statistics-chart></div>
		<% } %>
        <div notices></div>
	</div>
	<div class="row">
		<div class="col-md-5" ng-controller="currencyCTL">
			<%- partial('../admin/currencies_charts') -%> 
		</div>	
	</div>
</div>
