<!DOCTYPE html>
<html>
  <head>
    <title>ERP - LOGIN</title>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/roboto-fontface/roboto-fontface.css">
    <link rel="stylesheet" href="/bower_components/lato/css/lato.css">
    <link rel="stylesheet" href="/bower_components/sass-bootstrap-glyphicons/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="/bower_components/chosen/chosen.min.css">
    <link rel="stylesheet" href="/bower_components/ng-tags-input/ng-tags-input.min.css">
    <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="/bower_components/fullcalendar/fullcalendar.css">
    <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="/styles/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="stylesheet" href="/styles/css/jquery.ui.css">
    <link rel="stylesheet" href="/styles/css/isotope.css">
    <link rel="stylesheet" href="/styles/css/colorbox.css">
    <link rel="stylesheet" href="/styles/css/uniform.tp.css">
    <link rel="stylesheet" href="/styles/css/colorpicker.css">
    <link rel="stylesheet" href="/styles/css/jquery.jgrowl.css">
    <link rel="stylesheet" href="/styles/css/jquery.alerts.css">
    <link rel="stylesheet" href="/styles/css/jquery.tagsinput.css">
    <link rel="stylesheet" href="/styles/css/ui.spinner.css">
    <link rel="stylesheet" href="/styles/css/jquery.chosen.css">
    <link rel="stylesheet" href="/styles/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/angular-xeditable/dist/css/xeditable.css">
    <link rel="stylesheet" href="/bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <!--STYLE TEMPLATE-->
    <!--<link rel="stylesheet" href="/styles/custom/<%= sails.config.template_config.cssFile %>">-->


  </head>

<body class="loginpage">

<div class="loginpanel">
    <div class="loginpanelinner">
        
        <div class="logo"></div>
        <form id="login" action="/home/auth" method="post">
            
            <div class="inputwrapper login-alert">
                <div class="alert alert-error">Usuario o password inválido</div>
            </div>
            <div class="inputwrapper">
                <input type="text" name="username" id="username" placeholder="username" />
            </div>
            <div class="inputwrapper">
                <input type="password" name="password" id="password" placeholder="password" />
            </div>
            <div class="inputwrapper">
                <button name="submit">Sign in</button>
            </div>
            <div class="inputwrapper">
                <!-- <div class="pull-right">Not a member? <a href="registration.html">Sign Up</a></div> -->
                <!-- <label><input type="checkbox" class="remember" name="signin" /> Keep me sign in</label> -->
            </div>
            
        </form>
        
    </div><!--loginpanelinner-->
</div><!--loginpanel-->

<!-- <div class="loginfooter">
    <p>&copy; 2013. Shamcey Admin Template. All Rights Reserved.</p>
</div> -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/jspdf.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/ng-file-upload/angular-file-upload-html5-shim.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/tinymce/tinymce.min.js"></script>
    <script src="/bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="/bower_components/chosen/chosen.jquery.min.js"></script>
    <script src="/bower_components/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="/bower_components/jquery-form/jquery.form.js"></script>
    <script src="/bower_components/jquery-cookie/jquery.cookie.js"></script>
    <script src="/bower_components/flot/jquery.flot.js"></script>
    <script src="/bower_components/flot/jquery.flot.resize.js"></script>
    <script src="/bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="/bower_components/slimScroll/slimScroll.js"></script>
    <script src="/bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="/bower_components/angular-ui-date/src/date.js"></script>
    <script src="/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="/bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script src="/bower_components/fullcalendar/fullcalendar.js"></script>
    <script src="/bower_components/fullcalendar/gcal.js"></script>
    <script src="/bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="/bower_components/moment/min/moment-with-langs.min.js"></script>
    <script src="/bower_components/underscore/underscore-min.js"></script>
    <script src="/bower_components/leaflet/dist/leaflet.js"></script>
    <script src="/bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <script src="/bower_components/Chart.js/Chart.js"></script>
    <script src="/js/themejs/angular-chart.js"></script>
    <script src="/js/themejs/exchange-rates.js"></script>
    <script src="/js/themejs/responsive-tables.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/setup.js"></script>
    <script src="/js/shared.js"></script>
    <script src="/js/directives/breadcrumb.js"></script>
    <script src="/js/directives/calendarMonth.js"></script>
    <script src="/js/directives/customMessage.js"></script>
    <script src="/js/directives/dayStatsChart.js"></script>
    <script src="/js/directives/deleteButton.js"></script>
    <script src="/js/directives/directoryListing.js"></script>
    <script src="/js/directives/fileManager.js"></script>
    <script src="/js/directives/formHelper.js"></script>
    <script src="/js/directives/geoMarkers.js"></script>
    <script src="/js/directives/geoSelector.js"></script>
    <script src="/js/directives/langContent.js"></script>
    <script src="/js/directives/notices.js"></script>
    <script src="/js/directives/noticesreservations.js"></script>
    <script src="/js/directives/pageHeader.js"></script>
    <script src="/js/directives/profileImage.js"></script>
    <script src="/js/directives/statisticsChart.js"></script>
    <script src="/js/directives/tableHelper.js"></script>
    <script src="/js/directives/tableSearch.js"></script>
    <script src="/js/directives/timeLineChart.js"></script>
    <script src="/js/directives/validNumber.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
