<!DOCTYPE html>
<html>
  <head>
    <title>ERP -    LOGIN</title>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/roboto-fontface/roboto-fontface.css">
    <link rel="stylesheet" href="/bower_components/lato/css/lato.css">
    <link rel="stylesheet" href="/bower_components/sass-bootstrap-glyphicons/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="/bower_components/chosen/chosen/chosen.css">
    <link rel="stylesheet" href="/bower_components/ng-tags-input/ng-tags-input.min.css">
    <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="stylesheet" href="/styles/css/jquery.ui.css">
    <link rel="stylesheet" href="/styles/css/animate.min.css">
    <link rel="stylesheet" href="/styles/css/animate.delay.css">
    <link rel="stylesheet" href="/styles/css/isotope.css">
    <link rel="stylesheet" href="/styles/css/colorbox.css">
    <link rel="stylesheet" href="/styles/css/uniform.tp.css">
    <link rel="stylesheet" href="/styles/css/colorpicker.css">
    <link rel="stylesheet" href="/styles/css/jquery.jgrowl.css">
    <link rel="stylesheet" href="/styles/css/jquery.alerts.css">
    <link rel="stylesheet" href="/styles/css/jquery.tagsinput.css">
    <link rel="stylesheet" href="/styles/css/ui.spinner.css">
    <link rel="stylesheet" href="/styles/css/jquery.chosen.css">
    <link rel="stylesheet" href="/styles/css/fullcalendar.css">
    <link rel="stylesheet" href="/styles/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->


  </head>

<body class="loginpage">

<div class="loginpanel">
    <div class="loginpanelinner">
        
        <div class="logo animate0 bounceIn"></div>
        <form id="login" action="/home/auth" method="post">
            
            <div class="inputwrapper login-alert">
                <div class="alert alert-error">Invalid username or password</div>
            </div>
            <div class="inputwrapper animate1 bounceIn">
                <input type="text" name="username" id="username" placeholder="username" />
            </div>
            <div class="inputwrapper animate2 bounceIn">
                <input type="password" name="password" id="password" placeholder="password" />
            </div>
            <div class="inputwrapper animate3 bounceIn">
                <button name="submit">Sign In</button>
            </div>
            <div class="inputwrapper animate4 bounceIn">
                <!-- <div class="pull-right">Not a member? <a href="registration.html">Sign Up</a></div> -->
                <!-- <label><input type="checkbox" class="remember" name="signin" /> Keep me sign in</label> -->
            </div>
            
        </form>
        
    </div><!--loginpanelinner-->
</div><!--loginpanel-->

<!-- <div class="loginfooter">
    <p>&copy; 2013. Shamcey Admin Template. All Rights Reserved.</p>
</div> -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/ng-file-upload/angular-file-upload-shim.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="/bower_components/chosen/chosen/chosen.jquery.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/jquery-form/jquery.form.js"></script>
    <script src="/bower_components/jquery-cookie/jquery.cookie.js"></script>
    <script src="/bower_components/flot/jquery.flot.js"></script>
    <script src="/bower_components/flot/jquery.flot.resize.js"></script>
    <script src="/bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="/bower_components/slimScroll/slimScroll.js"></script>
    <script src="/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="/js/themejs/exchange-rates.js"></script>
    <script src="/js/themejs/responsive-tables.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/directives/angularForm.js"></script>
    <script src="/js/directives/directoryListing.js"></script>
    <script src="/js/directives/fileManager.js"></script>
    <script src="/js/directives/profileImage.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
