<script type='text/javascript'>
	window.unities = <%- JSON.stringify(unities) %>;
</script>
<div ng-controller='unitytypeCTL'>
	<p><button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class='fa fa-plus'></i>Nuevo tipo de unidad </button></p>
	<br/>
	<div table-helper inline-edit="/unitytype/update/" objects='unities' columns='content.unitytypes' route='foodscheme'></div>
	<div class="clearfix"></div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div 
					form-helper 
			        fields='content.unitytypes' 
			        form-footer='Agregar'
			        form-save = 'createUnityType'
			        object = 'unity'
			        form-title='Crear un nuevo tipo'
			       	modal='true'
			        >
			    </div>
			</div>
		</div>
	</div>
</div>
