<div  ng-controller="fieldCTL"><div class="widgetbox">
		<h4 class="widgettitle">Opciones</h4>
		<div class="widgetcontent nopadding">                            
			<table class="table responsive">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Handle</th>
						<th>Tipo</th>
						<th>Valores</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='(handle,field) in product.fields'>
						<td ng-bind='field.name'></td>
						<td ng-bind='field.handle'></td>
						<td ng-bind='field.type'></td>
						<td ng-bind='field.values'></td>
						<td><a ng-href='/product/removeField' data-product="{{product.id}}" ng-click="removeField($event,field.name)" class='fa fa-trash-o'></a></td>
					</tr>
				</tbody>
			</table>
		</div>
</div>


<div class="widgetbox">
	<h4 class="widgettitle">Nuevo opcion</h4>
	<div class="widgetcontent nopadding">
		<form action="/product_type/createField" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="stdform stdform2 ng-pristine">
			<input type="hidden" name="product" value="<%=product.id%>" />
			<%if(req.options.controller=='product'){%>
				<input type="hidden" name="productSingle" value="1" />
			<%}%>
			<p>
				<label for="name">Nombre*</label>
				<span class="field"><input type="text" name="name" class="input-large"></span>
			</p>
			<p>
				<label for="handle">Handle*</label>
				<span class="field"><input type="text" name="handle" class="input-large"></span>
			</p>
			<p>
				<label for="fields">Tipo*</label>
				<span class="field">
		            <select name="type" ng-model="typeSelect">
						<%for(var i=0;i<types.length;i++){ %>
							<option value="<%=types[i]%>"><%=types[i]%></option>
						<%}%>
					</select>
				</span>
			</p>
			<p ng-if=typeSelect=='select'>
				<label for="name">valores</label>
				<span class="field">
					<input type="text" name="values" class="input-large">
				</span>
			</p>
			<p class="stdformbutton">
				<button class="btn btn-primary">Guardar</button>
				<button type="reset" class="btn">Resetear</button>
			</p>
		</form>
	</div>
</div></div>	
