<script type="text/javascript">
    window.types = <%- JSON.stringify(types) %>;
</script>
<div  ng-controller="fieldCTL">
    <div class="widgetbox">
        <h4 class="widgettitle">Propiedades</h4>
        <div class="widgetcontent nopadding">
            <form accept-charset="utf-8" enctype="multipart/form-data" class="stdform stdform2 ng-pristine" ng-submit="processForm()">
                <input type="hidden" ng-model="new_field.product_type" value="<%=product_type.id%>" />
                <p>
                    <label for="name">Nombre*</label>
                    <span class="field"><input type="text" id="field_name" name="field_name" ng-model="new_field.name" class="input-large"></span>
                </p>
                <p>
                    <label for="handle">Handle*</label>
                    <span class="field"><input type="text" id="field_handle" name="field_handle"  ng-model="new_field.handle" class="input-large"></span>
                </p>
                <p>
                    <label for="fields">Tipo*</label>
                    <span class="field">
                        <select ng-init="new_field.type = new_field.type || field_types[0]" ng-options="t for t in field_types" ng-model="new_field.type" chosen>
                        </select>
                    </span>
                </p>
                <p ng-if="new_field.type=='select'">
                    <label for="name">valores</label>
                    <span class="field">
                        <input type="text" ng-model="new_field.values" class="input-large">
                    </span>
                </p>
                <p class="stdformbutton">
                    <button class="btn btn-primary">Guardar</button>
                    <button type="reset" class="btn">Resetear</button>
                </p>
            </form>
            <table class="table responsive padding5" ng-show="product.fields.length > 0">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Handle</th>
                    <th>Tipo</th>
                    <th>Valores</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat='(handle,field) in product.fields'>
                    <td data-title="Nombre" ng-bind='field.name'></td>
                    <td data-title="Handle" ng-bind='field.handle'></td>
                    <td data-title="Tipo" ng-bind='field.type'></td>
                    <td data-title="Valores" ng-bind='field.values'></td>
                    <td data-title="Eliminar"><a style="cursor:pointer" data-product="{{product.id}}" ng-click="removeField($index)" class='fa fa-trash-o'></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
