<table class="table table-striped">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th>Editar</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat='product_type in product_types'>
			<td ng-bind='product_type.name' data-title="Nombre"></td>
			<td ng-bind='product_type.description' data-title="Descripcion"></td>
			<td data-title="Editar"><a ng-href='/product_type/edit/{{product_type.id}}' ><span class="table-icon fa fa-edit"></span></a></td>
		</tr>
	</tbody>
</table>