<div class="modal fade" id="modalType" data-backdrop="static" data-keyboard="false" >
  <div class="modal-dialog">
    <div class="modal-content">
      <form 
	      action='/product/'
	      class='stdform stdform2'
      />
	      <div class="modal-header">
	        <h4 class="modal-title">Selecciona producto</h4>
	      </div>
	      <div class="modal-body">
				<p>
					<label for="type">Tipo</label>
					<span class="field">
						<select name='type' class='chzn-select form-control large' data-placeholder="Selecciona un tipo" ng-model="typeModel" ng-change="update()">

								<% for(var i=0;i<sales_type.length;i++){ %>
									<option value='<%=sales_type[i].type%>'><%=sales_type[i].name%></option>
								<%}%>
						</select>
					</span>
				</p>
				<p>
					<label for="name">Nombre*</label>
					<span class="field">
						<select name='name' class='chzn-selects form-control large' data-placeholder="Agregar campo" ng-model="nameModel">
								<option ng-repeat="product in products" value='{{product.id}}'>{{product.name}}</option>
						</select>
					</span>
				</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default"  ng-click="cancel()">Cancelar</button>
	        <button type="button" class="btn btn-default"  ng-click="selectProduct()">Seleccionar</button>
	      </div>
	</form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
