<p>
	<label for="name"><%= __('emp-nombre') %></label>
	<span class="field"><input type="text" name="name" class="form-control required"></span>
</p>

<p>
	<label for="description"><%= __('emp-descripcion') %></label>
	<span class="field"><textarea name="description" class="form-control"></textarea></span>
</p>
<p>
	<label for="address"><%= __('emp-direccion') %></label>
	<span class="field"><input type="text" name="address" class="form-control"></span>
</p>

<p>
	<label for="zipcode"><%= __('emp-codigo-postal') %></label>
	<span class="field"><input type="text" name="zipcode" class="form-control"></span>
</p>