<p>
	<label for="name">Nombre*</label>
	<span class="field"><input type="text" name="name" class="form-control"></span>
</p>

<p>
	<label for="description">Descripción</label>
	<span class="field"><textarea name="description" class="form-control"></textarea></span>
</p>
<!--
<p>
	<label>Icono</label>
	<span class="field">
		<span class="fileupload fileupload-new" data-provides="fileupload">
			<span class="input-append">
				<span class="uneditable-input span2">
				    <i class="fa fa-file fileupload-exists"></i>
				    <span class="fileupload-preview"></span>
				</span>
				<span class="btn btn-file">
					<span class="fileupload-new">Archivo</span>
					<span class="fileupload-exists">Cambiar</span>
					<input type="file" name="icon_input">
				</span>
				<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
			</span>
	    </span>
	</span>
</p>			
-->
<p>
	<label for="address">Dirección 1</label>
	<span class="field"><input type="text" name="address" class="form-control"></span>
</p>

<p>
	<label for="zipcode">Código Postal</label>
	<span class="field"><input type="text" name="zipcode" class="form-control"></span>
</p>