<p>
	<label for="name">Nombre*</label>
	<span class="field"><input type="text" name="name" class="form-control required"></span>
</p>

<p>
	<label for="description">Descripción</label>
	<span class="field"><textarea name="description" class="form-control"></textarea></span>
</p>
<p>
	<label for="address">Dirección 1</label>
	<span class="field"><input type="text" name="address" class="form-control"></span>
</p>

<p>
	<label for="zipcode">Código Postal</label>
	<span class="field"><input type="text" name="zipcode" class="form-control"></span>
</p>