<form action="/companyCreate/create/" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="stdform stdform2 companyCreate" >
	<%- partial('new-basic') %>	
	<%- partial('new-settings') %>	
	<p class="stdformbutton">
        <button class="btn btn-primary">Guardar</button>
        <button type="reset" class="btn">Resetear</button>
    </p>	
</form>
