<form action="/company/create/" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="stdform stdform2 commonForm companyCreate" >
	<%- partial('new-basic') %>	
	<%- partial('new-settings') %>	
	<p class="stdformbutton">
        <button class="btn btn-primary"><%= __('emp-guardar') %></button>
        <button type="reset" class="btn"><%= __('emp-resetear') %></button>
    </p>	
</form>
