
<div class="widgetbox personal-information">
    <h4 class="widgettitle">Cambiar contrase単a <span class='fa icon' ng-class='saveClassPassword' ng-click="updatePassword()"></span></h4>
    <div class="widgetcontent">
        <form ng-submit="updatePassword()" class="editprofileform stdform stdform2 commonForm" name="form">
            <p>
                <label for='old_password'>Actual</label>
                <span class='field'>
                    <input type='password' class='form-control required' name="old_password" id="old_password"  ng-model="old_password" required ng-hide="show_chars"/>
                    <input type='text' class='form-control required'  name="old_password" ng-model="old_password" required ng-show="show_chars"/>
                    <span class="error" ng-show="form.old_password.$error.required && submited_pass_form">* campo requerido</span>
                </span>
            </p>
            <p>
                <label for='new_password'>Nueva</label>
                <span class='field'>
                    <input type='password' class='form-control' required name="new_password" id="new_password" ng-model="new_password" ng-hide="show_chars"/>
                    <input type='text' class='form-control' required name="new_password" ng-model="new_password" ng-show="show_chars"/>
                    <span class="error" ng-show="form.new_password == form.old_password">* estas usando la misma contrase単a</span>
                    <span class="error" ng-show="form.new_password.$error.required && submited_pass_form">* campo requerido</span>
                    <span class="error" ng-show="form.new_password.$error.minlength">*minimo de 6 carateres de largo</span>
                </span>
            </p>
            <p>
                <label for='new_password_v'>Vuelve a escribir tu nueva contrase単a</label>
                <span class='field'>
                    <input type='password' class='form-control' required name="new_password_v" id="new_password_v" ng-model="new_password_v" ng-hide="show_chars"/>
                    <input type='text' class='form-control' required name="new_password_v" ng-model="new_password_v" ng-show="show_chars"/>
                    <span ng-show="form.new_password_v != form.new_password && form.new_password.$valid">* error revisa tu nueva contrase単a no coincide</span>
                    <span class="error" ng-show="form.new_password_v.$error.required && submited_pass_form">* campo requerido</span>
                </span>
            </p>
            <p>
                <label for='show_chars'>Mostrar caracteres</label>
                <span class='field'>
                    <input type='checkbox' name='show_chars' id="show_chars" class='form-control'  ng-model="show_chars"/>
                </span>
            </p>
        </form>
    </div>
</div>