<div class="widgetbox personal-information">
    <div class="modal-header ng-scope">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title ng-binding">Nuevo Usuario</h4>
    </div>

    <form name="user_form" class="form stdform stdform2" ng-submit="createUser()">
        <p>
            <label>Nombre </label>
	        <span class="field">
	            <input type="text" ng-model="user.name" class="form-control" ng-required="true" name="uname">
	        </span>
        </p>
        <p>
            <label>Apellido</label>
	        <span class="field">
	            <input type="text" ng-model="user.last_name" class="form-control" name="ulast_name">
	        </span>
        </p>
        <p>
            <label>E-mail</label>
	        <span class="field">
	            <input type="email" ng-model="user.email" class="form-control ng-email" ng-required="true" name="uemail">
	        </span>
        </p>
        <p>
            <label>Password</label>
	        <span class="field">
	            <input type="password" ng-model="user.password" class="form-control ng-password" ng-required="true" name="upassword">
	        </span>
        </p>
        <p class="stdformbutton">
            <button type="submit" class="btn btn-primary ng-binding">Agregar</button>
            <button class="btn" type="reset" data-dismiss="modal">Cancelar</button>
        </p>
    </form>
</div>