<div class="widgetbox">
    <h4 class="widgettitle">Gruas</h4>
    <div class="widgetcontent nopadding">
        <form accept-charset="utf-8" enctype="multipart/form-data" class="stdform stdform2 ng-pristine" ng-submit="processCranes()" name="craneForm">
            <table class="table responsive">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th ng-repeat="zone in zones"><span ng-bind="zone.name"></span></th>
                    <th>Borrar</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="crane in cranes">
                    <td data-title="Nombre"><input type="text" ng-model="crane.name" class="span2" value="{{crane.name}}"/><input type="hidden" value="{{crane.id}}" /></td>
                    <td ng-repeat="zone in zones" ng-init="zone_price = getCranePriceZone(crane,zone)"><input type="text" ng-model="zone_price.price" /></td>
                    <td><span ng-click="deleteCrane($index)" class="icon fa fa-trash-o" style="cursor: pointer;"></span></td>
                </tr>
                <tr>
                    <td colspan="{{cranes.length}}">
                        <a class="btn btn-default button-orange" ng-click="addCrane()"><span class="table-icon fa fa-plus"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="stdformbutton">
                <button class="btn btn-primary" ng-disabled="!craneForm.$dirty">Guardar</button>
            </p>
        </form>
    </div>
</div>