<div class="widgetbox">
    <h4 class="widgettitle">Materiales</h4>
    <div class="widgetcontent nopadding">
        <form accept-charset="utf-8" enctype="multipart/form-data" class="stdform stdform2 ng-pristine" ng-submit="processMaterials()" name="materialForm">
            <table class="table responsive">
                <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="material in materials track by $index">
                    <td data-title="Nombre"><input type="hidden" value="{{material.id}}" />{{material.product.name}}</td>
                    <td data-title="Precio">{{(material.product.price.cost * (1 + (material.product.price.margin/100))) | currency}}</td>
                    <td data-title="Editar"><a ng-href="/product/edit/{{material.product.id}}" class="table-icon fa fa-edit fa-align-center" style="cursor: pointer;"></a></td>
                    <td data-title="Borrar"><span ng-click="deleteMaterial($index)" class="icon fa fa-trash-o" style="cursor: pointer;"></span></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <select ng-model="selected_material" ng-options="p.name group by p.product_type.name for p in products"></select>
                        <a class="btn btn-default button-orange" ng-click="addMaterial()"><span class="table-icon fa fa-plus"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="stdformbutton">
                <button class="btn btn-primary" ng-disabled="!materialForm.$dirty" >Guardar</button>
            </p>
        </form>
    </div>
</div>