<div class="widgetbox">
    <h4 class="widgettitle">Herramientas</h4>
    <div class="widgetcontent nopadding">
        <form accept-charset="utf-8" enctype="multipart/form-data" class="stdform stdform2 ng-pristine" ng-submit="processTools()" name="toolsForm">
            <table class="table responsive">
                <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="tool in tools track by $index">
                    <td data-title="Nombre"><input type="hidden" value="{{tool.id}}" />{{tool.product.name}}</td>
                    <td data-title="Precio">{{(tool.product.price.cost * (1 + (tool.product.price.margin/100))) | currency}}</td>
                    <td data-title="Editar"><a ng-href="/product/edit/{{tool.product.id}}" class="table-icon fa fa-edit fa-align-center" style="cursor: pointer;"></a></td>
                    <td data-title="Borrar"><span ng-click="deleteTool($index)" class="icon fa fa-trash-o" style="cursor: pointer;"></span></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <select ng-model="selected_tool" ng-options="p.name group by p.product_type.name for p in products"></select>
                        <a class="btn btn-default button-orange" ng-click="addTool()"><span class="table-icon fa fa-plus"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="stdformbutton">
                <button class="btn btn-primary" ng-disabled="!toolsForm.$dirty">Guardar</button>
            </p>
        </form>
    </div>
</div>