<div class="widgetbox">
    <h4 class="widgettitle">Zonas</h4>
    <div class="widgetcontent nopadding">
        <form accept-charset="utf-8" enctype="multipart/form-data" class="stdform stdform2 ng-pristine" ng-submit="processZones()">
            <table class="table responsive">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th colspan="2">Precio</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="zone in zones track by $index">
                    <td data-title="Nombre"><input type="text" ng-model="zone.name" class="span2" value="{{zone.name}}"/><input type="hidden" value="{{zone.id}}" /></td>
                    <td data-title="Precio"><input type="text" ng-model="zone.price" class="span1" value="{{zone.price}}" /></td>
                    <td><span ng-click="deleteZone($index)" class="icon fa fa-trash-o" style="cursor: pointer;"></span></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <a class="btn btn-default button-orange" ng-click="addZone()"><span class="table-icon fa fa-plus"></span> Zona</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="stdformbutton">
                <button class="btn btn-primary">Guardar</button>
            </p>
        </form>
    </div>
</div>