/*.pagetitle h1{color: #7675c0!important;}
.pageicon {
    border: 3px solid #7675c0!important;
    color: #7675c0!important;
}
.headmenu > li > a {
    background-color: #7675c0!important;
}
.header .logo{background-color: #232323!important;}
.widgettitle{background: #23d4c6!important;}
.widgetcontent{border-color: #23d4c6!important}
#mainwrapper .leftmenu .nav-tabs.nav-stacked > li ul li.selected{background: #7675c0!important;}
#mainwrapper .leftmenu .nav-tabs.nav-stacked > li ul li.selected a{color: white!important;}
.header{background: #23d4c6!important}
.page-description{color: black!important}
html .btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{    
  background: #7675c0!important;
    border-color: #7675c0!important;}*/
/*-----------------------------------*/

body{min-width: 290px}
strong{font-weight: bold;}
.row.nomargin{max-width: 100%;margin: 0}
/*
==============================================================================
:: Errors
============================================================================== */
.has-error {
  color: #a94442 !important;
  background-color: #ffebe8 !important;
  border: 1px solid #EED3D7 !important;
}
input.parsley-success, textarea.parsley-success {
  color: #468847 !important;
  background-color: #DFF0D8 !important;
  border: 1px solid #D6E9C6 !important;
}
.parsley-errors-list {
  display: none;
  visibility: hidden;
}
/*
==============================================================================
:: Menu
============================================================================== */
li.selected {
  background-color: #2c2c2c;
  border-color: #232323;
  color: white;
}
li.selected a {
  color: white;
}

input.search { 
  display: inline-block;
  width:200px;
}