body{min-width: 290px;background:url(@left-bar) repeat-y 0 0;}
.header{background:@header-background;}
strong{font-weight: bold;}
.show-sm{display: none!important;}

/*Login page*/
.loginpanelinner .logo{padding:0;display:block;background-repeat:no-repeat;background-image:url(@login-logo);width:100%;height:120px;background-position:center center;background-size: contain;}
body.loginpage{background: @login-background;overflow: hidden;}
.inputwrapper button{background: @login-button;border:1px solid @login-button;}
.inputwrapper button:focus, .inputwrapper button:active, .inputwrapper button:hover{background: @login-hover;border:1px solid @login-hover;}
.btn-primary{
	moz-transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	transition: all 0.2s ease-out 0s;
}
.btn-primary:hover{background: darken(@primary,10%);border-color: darken(@primary,10%);}
.secondary{background: @secondaryBG;color: @secondaryTC;}
.btn-big{padding: 8px 46px;font-size: 15px;}
.btn-big + .btn-big{margin-right: 10px;}
.btn-big.pull-right + .btn-big.pull-right{margin-left: 10px;}

/*Gral*/
.text-list{list-style: none;}
.text-list li:before{content: '•';color: @secondaryBG;margin-right: 10px;}
.secondTittle{font-weight: bold;padding: 5px 0;margin-bottom: 10px;border-bottom: 1px solid lightgrey;}
.autocomplete{margin-bottom: 10px;}
.outerLabel{padding: 9px 0;}
.outerSelect{padding: 5px 2px;}

/*fee selector*/
.fee-selector .tabs .tab.selected{border: 1px solid gray;border-bottom: 0 none;border-top-right-radius: 5px;border-top-left-radius: 5px;}

/*Messages*/
#popup_overlay{position: fixed;z-index: 99998;top: 0px;left: 0px;width: 100%;height: 100%;}
#popup_container{position: fixed;z-index: 99999;padding: 0px;margin: 0px;width: 300px;top: 131.5px;left: 488.5px;}
#popup_overlay.ng-hide,#popup_container.ng-hide{display: none;}
.customMessages{position: fixed;bottom: 0px;left: 10px;text-align: center;max-width: 800px;}

.results.errorslist{list-style: none;padding: 20px;}
.results.errorslist li:first-child{font-weight: bold;font-size: 16px;line-height: 24px;}

/*Reservations*/
.pagination-row{margin: 10px 0;}
.pagination-row .pagination{margin: 0;}
.filters-form form{margin: 5px 0;}
.filters-form .row{padding: 10px;}
.viewsIcons .icon{font-size: 17px;cursor: pointer;color: #DDDDDD;padding: 4px 7px 2px 7px;border: 1px solid rgb(221, 221, 221);}
.viewsIcons .icon + .icon{margin-left: 10px;border-right: 0;}
.viewsIcons .icon:hover,
.viewsIcons .icon.on{color: @primary;}
.cardsContainer .card{padding: 10px 0;background: #F3F3F3;border:1px solid #ddd;margin-bottom:5px;position: relative;border-radius: 8px;}
.cardsContainer .card .content-border{border: 1px solid #ddd;border-top: 0;padding: 10px;}
.cardsContainer .card .col-md-8 .content-border{padding: 10px 0;}
.cardsContainer .card .actions{position: absolute;right: 0;top: 0;font-size: 20px;background: @primary;}
.cardsContainer .card .actions a{color: #D5D5D5;background: #A5A5A5;padding: 6px 7px 5px;float: right;border-right: 1px solid;}
.cardsContainer .card .actions a:hover{color: white;}
.cardsContainer .card h4{padding:5px 10px;font-size: 19px;background: @primary;color: white;position: relative;padding-left: 40px;}
.cardsContainer .card h4.secondary{background: @secondaryBG;color:@secondaryTC;margin-top: 10px;}
.cardsContainer .card h4 .icon{position: absolute;left: 0;top: 0;padding: 6px 8px 5px;color: @secondaryTC;background: @secondaryBG;}
.cardsContainer .card .small-item{list-style: none;}
.cardsContainer .card ul li{border: 1px solid lightgray;border-top: 0;border-left: 0;}
.cardsContainer .card ul li strong{margin-left: 7px;}
.cardsContainer .card ul li p{padding: 4px;}
.cardsContainer .card ul li .icon{float: left;padding: 5px 7px;font-size: 19px;margin-right: 5px;background: @primary;color: white;}
.cardsContainer .card .cont-hl{}
.invoiceModal .modal-header{padding: 0;}
.invoiceModal .modal-content .modal-header .close{font-size: 31px;font-weight: 100;color: white;margin-right: 5px;margin-top: 5px;}
.invoiceModal .modal-content .modal-header h4{padding: 8px 10px 8px 55px;background: @primary;color:white;}
.invoiceModal .modal-content .modal-header h4 .icon{position: absolute;left: 0;top: 0;font-size: 27px;background: @secondaryBG;padding: 8px 10px;}
.invoiceModal .modal-data h4{font-weight: bold;margin: 5px 0;padding-bottom: 5px;text-transform: uppercase;}
.invoiceModal ul{list-style: none;}
.invoiceModal .modal-data{padding: 15px;}
.invoiceModal .modal-content h4{background: @secondaryBG;color: @secondaryTC;padding: 5px 15px;font-size: 19px;}
.invoiceModal .modal-content h4 .icon{margin-right: 5px;margin-right: 5px;font-size: 16px;}
.invoiceModal .modal-content .text-undertopline{color: @secondaryBG;border-top: 1px solid;border-bottom: 1px solid;display: inline-block;text-transform: uppercase;margin: 3px 0;}
.invoiceModal .modal-content .small-item{display: -webkit-flex;-webkit-flex-wrap: wrap;display: flex;flex-wrap: wrap;}
.invoiceModal .modal-content .small-item li{width: 50%;margin-bottom: 10px;padding-right: 10px;}
.invoiceModal .modal-content .small-item li:nth-child(even){border-left: 1px solid @secondaryBG;padding-left: 10px;}
.font-uppercase{text-transform: uppercase;}
/*Header*/
.header .logo a{background:transparent url(@header-logo) no-repeat center;display:block;}
.headmenu > li{}
.headmenu > li > a{padding: 25px 20px 11px 20px;background-color:@header-button;}
.headmenu > li > a:hover{background: @header-hover}
.headmenu > li > a:hover .menu-icon{color:@header-icon-hover}
.headmenu > li > a .menu-icon{color: @header-icon;font-size: 48px}
.userloggedinfo .userinfo h5{font-weight: bold;}
.userloggedinfo img{border-radius: 50%}
.switch-lang .chosen-container .chosen-results li{color: #000}
.switch-lang .chosen-container .chosen-results li.highlighted{color: #fff}
.switch-lang .chosen-container{margin-top: 5px} 
.switch-lang .chosen-single:hover{background: #fff}

/*Menu*/
.nav-tabs.nav-stacked > li.active > a, .nav-tabs.nav-stacked > li.active > a:hover, .nav-tabs.nav-stacked > li.active > a:focus{background:@primary!important;}
.leftpanel{left: 0;position: absolute;top: 140px;z-index: 0}
.leftmenu .nav-header{color: #fff}
.leftmenu .nav-tabs.nav-stacked > li.active > a{background-color: @primary;border-bottom-color: @primary;}
.pageicon{border: 3px solid @primary;color: @primary}
.pagetitle h1{color: @primary;text-transform: uppercase;}
.page-description{color:@description-color; }
/*Lateral Menu*/
#mainwrapper .leftmenu .nav-tabs.nav-stacked > li > a{color:@left-color;}
#mainwrapper .leftmenu .nav-tabs.nav-stacked > li.selected > a,
#mainwrapper .leftmenu .nav-tabs.nav-stacked > li.active > a,
#mainwrapper .leftmenu .nav-tabs.nav-stacked > li > a:hover{color:@left-color-hover;}
#mainwrapper .leftmenu .nav-tabs.nav-stacked > li ul li.selected{background:#cfcfcf; }


/*Dashboard*/
.dashboard-row .span6{margin-left: 0;}

/*Transfers special*/
.dtfa-container{position: relative;}
.dtfa-container.disabled{opacity: .3;}
.dtfa-container.disabled:before{content: '';position: absolute;z-index: 5;width: 100%;height: 100%;top:0;left: 0;}

/*File Manager*/
.fileManager .widgettitle .text{font-size:11px;text-transform: none;margin-right:0;margin-left:-2px;font-weight:bold;cursor:pointer;}
.fileManager .widgettitle .title{width:40%;font-size:14px;}
.fileManager .widgettitle .controls{width:40%;}
.fileManager .widgettitle .fa{font-size:20px;cursor:pointer;}
.fileManager .widgettitle .fa:hover{opacity:.4}
.fileManager .widgettitle .controls .text{margin-right:20px;}
.fileManager .widgettitle .fa.fa-arrow-circle-right{margin-right:20px;}
.fileManager .widgettitle .controls .fa.fa-check-square-o{margin-right:5px;}
.fileManager .widgettitle .controls .fa.fa-trash-o{float:right;}
.fileManager .nav{background-color:#EDEDED;color:@primary;display:block;width:100%;padding:10px 20px;}
.fileManager .nav a{margin:0 5px;font-size:11px;}
.fileManager .nav .underline{text-decoration: underline}
.fileManager .files{margin:20px 0 20px 20px;float:left;display:block;overflow:hidden;}
.fileManager .files .file{width:110px;height:105px;background-color:@primary;float:left;margin:22px 22px 0 0;}
.fileManager .files .loader{width:110px;height:105px;border:1px solid @primary;text-align:center;font-size:10px;float:left;margin:22px 22px 0 0;}
.fileManager .files .loader img{margin:10px auto 0px;}
.fileManager .files .file.selected img{opacity:.35;}
.fileManager .files .file.deleting{background-color:#EE4444;}
.modal-body ul{margin-left:29px;}
/*Profile pictures dropdown input*/
.headtitle .dropdown-menu{padding: 0;}
.headtitle .dropdown-menu button{width: 100%;background: transparent;border: 0 none;text-align: left;padding: 0px 15px;margin: 0;}
.headtitle .dropdown-menu button:hover{background: #252d5e;color:white;}

.widgettitle{background: @primary;text-transform: uppercase;color: @title-color;}
.widgettitle span{font-size: 16px}
.widgettitle a{color: #fff!important;text-decoration: underline;text-transform: none!important;}
.widgettitle a span{font-size: 16px;vertical-align: initial;}
.widgetcontent{border: 2px solid @primary;}
.widgetcontent.custom-table{border: 2px solid @primary;overflow: auto;}
.ng-directory-listing .peoplelist  .widgettitle a.text-limit,
.widgettitle .text-limit{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-right: 85px;margin-right: -85px;float: left;text-transform: uppercase!important;width: 100%;}
a, a:hover, a:link, a:active, a:focus{color: @links-color;}
html .btn-primary , .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{background: @primary;border-color: @primary;color: white;}
.row.alphabets-nav{margin-bottom: 10px;}
.alphabets li span{color: @primary;}

.main-client{margin-bottom: 6px;padding: 8px 12px}
.main-client .client-info{margin-left: 95px}
.main-client .client-info p{line-height: 16px}

.item-list{height: 186px;overflow: auto;padding-top: 5px}
.item-list .item{line-height: 16px}
.item-list .item + .item{border-top: 1px solid gray}

.commentlist {height: 380px;overflow: auto}
.commentlist li{min-height: 68px;padding: 8px 15px}
.commentlist li img{width: 80px} /*CAMBIO TEMPORAL*/
.commentlist li p{margin: 0}

.custom-table table{margin-bottom: 0!important;width: 100%}
.custom-table table th{position: relative;}
.custom-table table th:last-child:after{content: "";background: @primary;height: 100%;position: absolute;right: -1px;top: 0;width: 1px}
.custom-table table th,.custom-table table td{font-size: 12px;padding: 6px;max-width: 400px;}
.custom-table table td.th,
.custom-table table th{background: @login-background!important;border: none!important;color: #fff;font-size: 13px;}
.custom-table table .table-icon{color: @login-background;font-size: 15px}
.custom-table table .actions .table-icon {margin-left: 5px}
.custom-table table td a{color: #333333;}
.custom-table table td:nth-child(2){text-decoration: underline;}
.custom-table table.table-striped > tbody > tr:nth-child(odd) > td{background: #D9D8D8}
.table .price-row .active-i{color: lightgray}
.table .price-row .active-i.active{color: green;}
.table .sortable .sortable-item{color: white;}
.custom-table table td.th a{color: white}
.stdform.rolesForm table label{width: auto;}
.stdform.rolesForm .panel-body{padding: 0;}
.stdform.rolesForm .panel-title a{display: block;}

.buttons-box{margin-bottom: 14px}
.buttons-box .button-orange{border: 1px solid @primary;color: @primary;font-size: 15px}
.buttons-box .button-orange + .button-orange{margin-left: 4px}
.buttons-box .button-orange:hover{background: @primary;color: #fff}

.buttons-box .button-green{border: 1px solid green;color: green;font-size: 15px}
.buttons-box .button-green:hover{background: green;color: #fff}

.buttons-box .button-red{border: 1px solid red;color: red;font-size: 15px}
.buttons-box .button-red:hover{background: red;color: #fff}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{background: @primary;border-color: @primary;color: #fff;}

.profilethumb{text-align:center;}
.profilethumb .submit-button{margin-top: 12px}

.form-currencies button{margin: 10px 0}

/*El seletor de dias de la semana de tours*/
.ng-selector > .btn:not(.active):hover, .ng-selector > .btn:not(.active):focus, .ng-selector > .btn:not(.active):active{color:@primary;background:white;box-shadow: none;border-color:#ccc;}

/*Dropdowns*/
.dropdown-menu>li>a{cursor: pointer;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{background: @primary!important}
.peoplelist .peoplewrapper{height: auto;}

.field input , .input-large, .fileupload .uneditable-input , .chzn-container , .chzn-container-single .chzn-drop, form textarea{max-width: 100%;width: 100%!important}
.field input[type='radio']{width: auto!important;margin-right: 5px;top: 3px;position: relative;}


/*Seccion cotizaciones*/
.sales-quote [ng-cloak]{display: none!important}
.loading-angular {
  display: none;
}
[ng-cloak].loading-angular {
  display: block !important;
}
.widget-input-field{
	.widgettitle{font-size: 10px;padding: 6px 12px}
	.widgetcontent{padding: 0}
	.widgetcontent textarea{padding: 6px 12px;resize:none;}
	.widgetcontent{
		input[type="text"]{padding: 10px}
		textarea, input[type="text"]{display: block;width: 100%}
		input[type="radio"]{vertical-align: middle;margin:0 0 0 5px}
	}	
}
.widgetcontent.with-padding{padding: 10px}
.widgettitle.top-table{
	padding: 6px 12px;font-size: 10px;
	input[type="text"]{margin-left: 5px;}
}
.table-form-fields{
	td{
		border: 1px solid #CCCCCC;padding: 0;
		input[type="text"]{border: 0;box-shadow: none;width: 60%}
		label{display: inline;margin-right: 2px}
	}
}
.custom-table td:before{position: relative;top: auto;left: auto}
.editable-row{
	margin-bottom: 10px;
	a[editable-text]{cursor: pointer;}
}
/*-------------*/

/*Charts home*/
#chart-container{padding: 0px}
#chart-container .widgetcontent{min-height: 400px}
#chart-container .selected-date{margin: 10px 0;text-align: center;text-transform: capitalize;}
#chart-container .input-group{margin: 5px 0}
#chart-container .input-picker{margin: 0}
#chart-container h4{text-align: center;}

.head-contracts{background:url('/images/icon-archive.png');}
.alphabets{
	li span{color:blue;cursor:pointer}
}
.peoplelist { margin: 25px 0;
	.peoplewrapper { border: 1px solid #ccc; padding: 15px; background: #fff; height: 115px; margin-bottom: 20px; }
	.thumb { float: left; 
		img { display: block; width: 80px; }
	}
	.peopleinfo {  /* se cambia margen de 95px a 25px*/
		h4 { font-size: 15px; }
		h4 span {font-family: sans-serif; font-size: 10px; text-transform: uppercase; margin-left: 5px; }
		h4 span.on { color: green; }
		h4 span.off { color: #999; }
		ul { list-style: none; font-size: 11px; color: #666; }
		ul li { line-height: 18px; }
		ul li span { line-height: 18px; }
	}
}

.unseen{
	display:none;
}

input[type="number"].number{display:block;width:58px;}

.row-fluid [class*="span"]:nth-child(odd) {
 margin-left:0;
}
.editprofileform p {
 margin: 0; 
}

.widgettitle .icon{font-size:14px;float:right;cursor:pointer;}
.table th {
font-weight: normal;
text-transform: uppercase;
font-size: 12px;
border-top: 0;
background: #333;
color: #fff;
}

/*CAMBIOS TEMPORALES*/

.commentlist .comment-info .comment-updates{ margin-left: 95px; padding-right: 105px;}
.commentlist li .comment-info{ margin-left: 0px; position: relative;}
.commentlist li{ padding: 0px; }
.commentlist .table th { background: #252D5E; text-align: center; width: 33%; }
.commentlist .table .valor-previo { border-left: solid 1px white; border-right: solid 1px white; background-color: #7A7E7F;}
.commentlist tbody .ng-binding{ background-color: #E5E5E5; text-align: center; border-top: none; }
.commentlist tbody .change-before{ border-left: solid 1px white; border-right: solid 1px white; }
.commentlist .panel{ border: none; }
.commentlist .panel-heading{ border-radius: 0px !important; padding: 0px 18px 0px 18px; background-image: none; background-color: white; text-align: center; color: #252C62; border: solid 2px #252C62; text-transform: uppercase; position: absolute; right: 15px; top: -55px;}
.commentlist .panel-heading a{ font-size: 10px; }
.commentlist .panel-body{ padding: 0; }
.commentlist .panel-body .table{ margin-bottom: 0px; }
.commentlist .panel-collapse{ float: left; width: 100%; }
.commentlist .btn.toogle{position: absolute;right: 10px;top: 10px;background: transparent;}
.commentlist .collapseCustom table{margin: 0;}

.commentlist .panel-group { position: relative; }

/*CAMBIOS TEMPORALES*/

.chosen-container {
  width: 100% !important;
}

.chosen-choices li.search-field input[type="text"] {
  height: 30px !important;
}


@media only screen and  (max-width: 1280px){
	.widgettitle a.pull-right{display: block;float: none!important;padding-top: 2px}

}

@media only screen and (max-width: 768px) {
	.ng-directory-listing .alphabets li{width: 7.5%;text-align: center;}
	#chart-container{padding: 0}
}
@media only screen and (max-width: 650px) {
	/*Class to hide on here*/
	.hide-sm{display: none!important;}
	.show-sm{display: block!important;}
	.hide-row{display: none!important;}
	/* Force table to not be like tables anymore */
	.custom-table table,
	.custom-table thead,
	.custom-table tbody,
	.custom-table th,
	.custom-table td,
	.custom-table tr {
	display: block;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.custom-table thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
	}
	 
	.custom-table tr { border: 1px solid #ccc; }
	 
	.custom-table.btn-group > .btn:hover, .btn-group-vertical > .btn:hover, .btn-group > .btn:focus, .btn-group-vertical > .btn:focus, .btn-group > .btn:active, .btn-group-vertical > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn.active td {
	/* Behave like a "row" */
	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 50%;
	white-space: normal;
	text-align:left;
	}
	 
	.custom-table td:before {
	/* Now like a table header */
	/*position: absolute;
	/* Top/left values mimic padding */
	/*top: 6px;
	left: 6px;*/
	width: 45%;
	padding-right: 10px;
	white-space: nowrap;
	text-align:left;
	font-weight: bold;
	}
	 
	/*
	Label the data
	*/
	.custom-table td:before { content: attr(data-title); }
}
@media screen and (max-width: 480px){
	.headmenu .dropdown-menu{border: 2px solid @primary}
	.userloggedinfo .userinfo{border: 2px solid @primary}
	.commentlist .comment-info .comment-updates{ padding: 0px;}
	.commentlist .panel-heading{ }
	.commentlist .btn.toogle{top: 0px; right: 0px; width: 100%; position: relative;}

}

@media screen and (max-width: 360px){
	.headmenu > li > a .menu-icon{font-size: 32px}
}

/* ng-directory-listing */
.ng-directory-listing .peopleinfo{ margin-left: 10px; }
.ng-directory-listing .peoplelist .thumb img{ border-radius: 50% }
.ng-directory-listing .peoplelist .headtitle li{ display: inline; } 
.ng-directory-listing .peoplelist .headtitle a{ display: inline-block; float: right; padding-right: 7px;}
.ng-directory-listing .peoplelist .widgettitle a{ text-decoration: none;}
.ng-directory-listing { font-weight: bold;}
.ng-directory-listing .widgetcontent { font-style: italic;}
.ng-directory-listing .alphabet-container { padding: 0; } 
.ng-directory-listing .alphabets{ border-color: #252D5E; float: left; border-left: 1px solid #252D5E;}
.ng-directory-listing .alphabets li{ border-color: #252D5E; border: 0; color: #252D5E;padding: 0;}
.ng-directory-listing .alphabets li > *{padding: 5px 10px;}

.ng-directory-listing .alphabets-nav .textbutton p{ float: right; }

/* ng-directory-positioning */
.ng-scope .directory-positioning { position: absolute; right: 7px;	padding-top: 20px;} 
.ng-scope .directory-positioning button{ background-color: white; border-color: #252D5E; color: #252D5E; }

/* ng-calendar-frame */
.ng-calendar-frame{ margin-left: 6px; right: 5px;}
.ng-calendar-frame .col-md-3 { border: 2px solid #252D5E;}
.ng-calendar-frame .col-md-3 .title h1 { text-align: center; background-color: #252D5E; color: white; }

/*calendar-nav-container*/
.ng-calendar-frame .calendar-nav{ width: 100%; height: 40px; color: @primary; font-weight: bold; }
.ng-calendar-frame .calendar-nav button{height: 40px; border: solid @primary 1px; background-color: white; color: @primary;}

/*calendar-nav buttons*/
.ng-calendar-frame .calendar-nav .traverse 	{float: left; /*width: 50%;  min-width: 25%;*/}
.ng-calendar-frame .calendar-nav .traverse button{ float: left; }
.ng-calendar-frame .calendar-nav .traverse span{ font-size: 25px; }
.ng-calendar-frame .calendar-nav .traverse p{ float: left; font-size: 23px; padding: 10px}

.ng-calendar-frame .calendar-nav .seasons-buttons { font-size: 13px; float: right; }
.ng-calendar-frame .calendar-nav .seasons-buttons button{ float: right; margin-right: 10px;}

/*calendar-nav seasons filter output*/
.ng-calendar-frame .calendar-output{ width: 100%; color: #383C7C; margin: 10px 0px 10px 0px; padding-top: 10px; padding-bottom: 10px; list-style-type: none; font-weight: bold;}
.ng-calendar-frame .calendar-output span{ margin-right: 15px; font-size: 15px; }
.ng-calendar-frame .calendar-output .col-md-4 { list-style-type: none; }

.ng-calendar-frame .calendar-positioning { width : 100%;}
.ng-calendar-frame .calendar-positioning .tbody{ position: relative;}

/*calendar responsive*/
.ng-calendar-frame .calendario { margin-bottom: 10px; height: 390px; }
.ng-calendar-frame .calendario .thead { height: 80px; background-color: @primary; color: white; padding-top: 6px; }
.ng-calendar-frame .calendario .thead p{ text-align: center; font-size: 16px;}
.ng-calendar-frame .calendario .days-of-week { height: 35px; padding-top: 10px;}
.ng-calendar-frame .calendario .days-of-week li{ font-weight: bold; color: #63BB5F; font-size: 12px; }


/*.ng-calendar-frame .calendar-positioning:after { display: block; clear:both; margin-bottom: 25px; }*/

.ng-calendar-frame .calendario span{ color: #43B23A; }
.ng-calendar-frame .calendario h1 { text-align: center; padding-top: 5px; font-size: 44px;}
.ng-calendar-frame .calendario ul{ display: block; text-align: center; position: relative; margin:20px 10px;}
.ng-calendar-frame .calendario .days li{ display: inline-block; width: 13%; font-size: 13px;}
.ng-calendar-frame .calendario .week-gral li{ display: inline-block; width: 14.2%; font-size: 13px; }

.ng-calendar-frame .calendario a{ text-decoration: none; }
.ng-calendar-frame .calendario li.line { position: absolute; bottom: 0; width:auto; border-bottom: 1px solid #4DB248; left: 0;right:0;top:28px;}
.ng-calendar-frame .calendario li.line.start1{left:14.2%;}
.ng-calendar-frame .calendario li.line.start2{left:28.4%;}
.ng-calendar-frame .calendario li.line.start3{left:42.6%;}
.ng-calendar-frame .calendario li.line.start4{left:56.8%;}
.ng-calendar-frame .calendario li.line.start5{left:71%;}
.ng-calendar-frame .calendario li.line.start6{left:85.2%;}

.ng-calendar-frame .calendario li.line.end0{right:85.2%;}
.ng-calendar-frame .calendario li.line.end1{right:71%;}
.ng-calendar-frame .calendario li.line.end2{right:56.8%;}
.ng-calendar-frame .calendario li.line.end3{right:42.6%;}
.ng-calendar-frame .calendario li.line.end4{right:28.4%;}
.ng-calendar-frame .calendario li.line.end5{right:14.2%;}

.ng-calendar-bullet.color0{color:#FFA9C0;}
.ng-calendar-bullet.color1{color:#FAEF81;}
.ng-calendar-bullet.color2{color:#FF6755;}
.ng-calendar-bullet.color3{color:#3CD266;}
.ng-calendar-bullet.color4{color:#2BD0D7;}
.ng-calendar-bullet.color5{color:#9045D5;}
.ng-calendar-bullet.color6{color:#BC3ED5;}
.ng-calendar-bullet.color7{color:#E635D4;}
.ng-calendar-bullet.color8{color:#E64B73;}
.ng-calendar-bullet.color9{color:#FF004A;}

.ng-calendar-line.color0{border-bottom:1px solid #FFA9C0!important};
.ng-calendar-line.color1{border-bottom:1px solid #FAEF81!important};
.ng-calendar-line.color2{border-bottom:1px solid #FF6755!important};
.ng-calendar-line.color3{border-bottom:1px solid #3CD266!important};
.ng-calendar-line.color4{border-bottom:1px solid #2BD0D7!important};
.ng-calendar-line.color5{border-bottom:1px solid #9045D5!important};
.ng-calendar-line.color6{border-bottom:1px solid #BC3ED5!important};
.ng-calendar-line.color7{border-bottom:1px solid #E635D4!important};
.ng-calendar-line.color8{border-bottom:1px solid #E64B73!important};
.ng-calendar-line.color9{border-bottom:1px solid #FF004A!important};


/*Form Helper*/
.ng-form-helper textarea{height:135px;}
.tag-container .multi-tag,
.ng-form-helper .multi-tag{display:block;float:left;padding: 3px 6px;background: #e3e3e3;border-radius: 5px;margin-bottom: 5px;}
.tag-container .multi-tag + .multi-tag,
.ng-form-helper .multi-tag + .multi-tag{margin-left: 4px;}
.tag-container .multi-tag a,
.ng-form-helper .multi-tag a{display:block;float:right;margin:0 0 0 4px;font-size:14px;cursor: pointer;}

.tag-container{margin-top: 15px;}

.btn { text-shadow: none !important; }
/*.page-description { color: #4DB248;} */

/*delete-button styles*/
.ng-delete-button{top: 100px; left: 200px; height: 37px; width: 196px; font-size: 14px; background-color: #FC201C; color: white; border: solid #FC201C; cursor: pointer; text-align: center; font-weight: bold;}
.ng-delete-button .fa{font-weight: bold;}



/*delete-overlay*/
.ng-delete .overlay {display: table; position:fixed; width:100%; height:100%; top:0; left:0; margin:0 auto; background-color: rgba(0,0,70,.8);}
.ng-delete canvas.overlay{background-color:transparent;}
.ng-delete .close-war button{height: 50px; width: 50px; color: white; font-size: 40px; background-color: rgba(0,0,70,.0); border:0;position:absolute;right:10px;top:10px;}
.ng-delete .content{width:550px;height:300px;position:absolute;left:50%;margin-left:-200px;top:50%;margin-top:-150px;}
.ng-delete .content .text-war {display:table; margin:0 auto; width:100%;text-align:center;height: 55px; color: white; font-size: 30px; font-family: 'Myriad-Pro-Regular'; }
.ng-delete .content .text-war p{display: table-cell; text-align: center; vertical-align: middle; }
.ng-delete .content .img-circlepicture{margin-bottom:2px ; text-align:center; width: 126px; height:126px; padding: 5px;margin:0 auto;}
.ng-delete .content .img-circlepicture img{display:block; width: 116px; height:116px; border-radius:50%; padding:2px; background-color: white; }
.ng-delete .content .text-log {height: 39px; width:100%; margin:0 auto;color: white; font-size: 20px; font-family: 'Myriad-Pro-Regular'; display:table; }
.ng-delete .content .text-log p{display: table-cell; text-align: center; vertical-align: middle; }
.ng-delete .content .input-password input{ padding:10px 12px;width: 410px; line-height:29px; font-family: 'Myriad-Pro-Regular'; font-size: 16px; margin:0 auto; font-weight: bold;display:block;border:none;}