body{min-width: 290px;background:url(@left-bar) repeat-y 0 0;}
.header{background:@header-background;}
strong{font-weight: bold;}
.row .row{max-width: 100%;margin: 0}

/*Login page*/
.loginpanelinner .logo{padding:0;display:block;background-repeat:no-repeat;background-image:url(@login-logo);width:100%;height:120px;background-position:center center;background-size: contain;}
body.loginpage{background: @login-background;overflow: hidden;}
.inputwrapper button{background: @login-button;border:1px solid @login-button;}
.inputwrapper button:focus, .inputwrapper button:active, .inputwrapper button:hover{background: @login-hover;border:1px solid @login-hover;}

/*Header*/
.header .logo a{background:transparent url(@header-logo) no-repeat center;display:block;}
.headmenu > li{}
.headmenu > li > a{padding: 25px 20px 11px 20px;background-color:@header-button;}
.headmenu > li > a:hover{background: @header-hover}
.headmenu > li > a:hover .menu-icon{color:@header-icon-hover}
.headmenu > li > a .menu-icon{color: @header-icon;font-size: 48px}
.userloggedinfo .userinfo h5{font-weight: bold;}
.userloggedinfo img{border-radius: 50%}

/*Menu*/
.nav-tabs.nav-stacked > li.active > a, .nav-tabs.nav-stacked > li.active > a:hover, .nav-tabs.nav-stacked > li.active > a:focus{background:@primary!important;}
.leftpanel{left: 0;position: absolute;top: 140px;z-index: 0}
.leftmenu .nav-header{color: #fff}
.leftmenu .nav-tabs.nav-stacked > li.active > a{background-color: @primary;border-bottom-color: @primary;}
.pageicon{border: 3px solid @primary;color: @primary}
.pagetitle h1{color: @primary;text-transform: uppercase;}
.page-description{color: #CCCCCC}
/*Lateral Menu*/
#mainwrapper .leftmenu .nav-tabs.nav-stacked > li > a{color:@left-color;}
#mainwrapper .leftmenu .nav-tabs.nav-stacked > li.active > a,
#mainwrapper .leftmenu .nav-tabs.nav-stacked > li > a:hover{color:@left-color-hover;}

/*File Manager*/
.fileManager .widgettitle .text{font-size:11px;text-transform: none;margin-right:0;margin-left:-2px;font-weight:bold;cursor:pointer;}
.fileManager .widgettitle .title{width:40%;font-size:14px;}
.fileManager .widgettitle .controls{width:40%;}
.fileManager .widgettitle .fa{font-size:20px;cursor:pointer;}
.fileManager .widgettitle .fa:hover{opacity:.4}
.fileManager .widgettitle .controls .text{margin-right:20px;}
.fileManager .widgettitle .fa.fa-arrow-circle-right{margin-right:20px;}
.fileManager .widgettitle .controls .fa.fa-check-square-o{margin-right:5px;}
.fileManager .widgettitle .controls .fa.fa-trash-o{float:right;}
.fileManager .nav{background-color:#EDEDED;color:@primary;display:block;width:100%;padding:10px 20px;}
.fileManager .nav a{margin:0 5px;font-size:11px;}
.fileManager .nav .underline{text-decoration: underline}
.fileManager .files{margin:20px 0 20px 20px;float:left;display:block;overflow:hidden;}
.fileManager .files .file{width:110px;height:105px;background-color:@primary;float:left;margin:22px 22px 0 0;}
.fileManager .files .loader{width:110px;height:105px;border:1px solid @primary;text-align:center;font-size:10px;float:left;margin:22px 22px 0 0;}
.fileManager .files .loader img{margin:10px auto 0px;}
.fileManager .files .file.selected img{opacity:.35;}
.fileManager .files .file.deleting{background-color:#EE4444;}
.modal-body ul{margin-left:29px;}

.widgettitle{background: @primary;text-transform: uppercase;color: @title-color;}
.widgettitle span{font-size: 16px}
.widgettitle a{color: #fff!important;text-decoration: underline;text-transform: none!important;}
.widgettitle a span{font-size: 16px;vertical-align: initial;}
.widgetcontent{border: 2px solid @primary;}
a, a:hover, a:link, a:active, a:focus{color: @primary}
.btn-primary , .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{background: @primary;border-color: @primary}
.alphabets li span{color: @primary}

.main-client{margin-bottom: 6px;padding: 8px 12px}
.main-client .client-info{margin-left: 95px}
.main-client .client-info p{line-height: 16px}

.item-list{height: 186px;overflow: auto;padding-top: 5px}
.item-list .item{line-height: 16px}
.item-list .item + .item{border-top: 1px solid gray}

.commentlist {height: 330px;overflow: auto}
.commentlist li{min-height: 68px;padding: 8px 15px}
.commentlist li img{width: 50px}
.commentlist li p{margin: 0}

.custom-table table{margin-bottom: 0!important;width: 100%}
.custom-table table th{position: relative;}
.custom-table table th:last-child:after{content: "";background: @primary;height: 100%;position: absolute;right: -1px;top: 0;width: 1px}
.custom-table table th,.custom-table table td{font-size: 12px;padding: 6px;}
.custom-table table th{background: @login-background!important;border: none!important;color: #fff;font-size: 13px;}
.custom-table table .table-icon{color: @login-background;font-size: 15px}
.custom-table table td a{color: #333333;}
.custom-table table td:nth-child(2){text-decoration: underline;}
.custom-table table.table-striped > tbody > tr:nth-child(odd) > td{background: #D9D8D8}

.buttons-box{margin-bottom: 14px}
.buttons-box .button-orange{border: 1px solid @primary;color: @primary;font-size: 15px}
.buttons-box .button-orange + .button-orange{margin-left: 4px}
.buttons-box .button-orange:hover{background: @primary;color: #fff}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{background: @primary;border-color: @primary;color: #fff;}

.profilethumb{text-align:center;}
.profilethumb .submit-button{margin-top: 12px}

.form-currencies button{margin: 10px 0}

/*El seletor de dias de la semana de tours*/
.ng-selector > .btn:not(.active):hover, .ng-selector > .btn:not(.active):focus, .ng-selector > .btn:not(.active):active{color:@primary;background:white;box-shadow: none;border-color:#ccc;}

/*Dropdowns*/
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{background: @primary!important}

.peoplelist .peoplewrapper{height: auto;}

.field input , .input-large, .fileupload .uneditable-input , .chzn-container , .chzn-container-single .chzn-drop, form textarea{max-width: 100%;width: 100%!important}




.head-contracts{background:url('/images/icon-archive.png');}
.alphabets{
	li span{color:blue;cursor:pointer}
}
.peoplelist { margin: 25px 0;
	.peoplewrapper { border: 1px solid #ccc; padding: 15px; background: #fff; height: 115px; margin-bottom: 20px; }
	.thumb { float: left; 
		img { display: block; width: 80px; }
	}
	.peopleinfo {  /* se cambia margen de 95px a 25px*/
		h4 { font-size: 15px; }
		h4 span {font-family: sans-serif; font-size: 10px; text-transform: uppercase; margin-left: 5px; }
		h4 span.on { color: green; }
		h4 span.off { color: #999; }
		ul { list-style: none; font-size: 11px; color: #666; }
		ul li { line-height: 18px; }
		ul li span { line-height: 18px; }
	}
}

.unseen{
	display:none;
}

input[type="number"].number{display:block;width:58px;}

.row-fluid [class*="span"]:nth-child(odd) {
 margin-left:0;
}
.editprofileform p {
 margin: 0; 
}

.widgettitle .icon{font-size:14px;float:right;cursor:pointer;}
.table th {
font-weight: normal;
text-transform: uppercase;
font-size: 12px;
border-top: 0;
background: #333;
color: #fff;
}

.chosen-container {
  width: 100% !important;
}

.chosen-choices li.search-field input[type="text"] {
  height: 30px !important;
}


@media only screen and  (max-width: 1280px){
	.widgettitle a.pull-right{display: block;float: none!important;padding-top: 2px}

}

@media only screen and (max-width: 650px) {
	/* Force table to not be like tables anymore */
	.custom-table table,
	.custom-table thead,
	.custom-table tbody,
	.custom-table th,
	.custom-table td,
	.custom-table tr {
	display: block;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.custom-table thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
	}
	 
	.custom-table tr { border: 1px solid #ccc; }
	 
	.custom-table.btn-group > .btn:hover, .btn-group-vertical > .btn:hover, .btn-group > .btn:focus, .btn-group-vertical > .btn:focus, .btn-group > .btn:active, .btn-group-vertical > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn.active td {
	/* Behave like a "row" */
	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 50%!important;
	white-space: normal;
	text-align:left;
	}
	 
	.custom-table td:before {
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	top: 6px;
	left: 6px;
	width: 45%;
	padding-right: 10px;
	white-space: nowrap;
	text-align:left;
	font-weight: bold;
	}
	 
	/*
	Label the data
	*/
	.custom-table td:before { content: attr(data-title); }
}

@media screen and (max-width: 480px){
	.headmenu .dropdown-menu{border: 2px solid @primary}
	.userloggedinfo .userinfo{border: 2px solid @primary}
}

@media screen and (max-width: 360px){
	.headmenu > li > a .menu-icon{font-size: 32px}
}

/* ng-directory-listing */
.ng-directory-listing .peopleinfo{ margin-left: 10px; }
.ng-directory-listing .peoplelist .thumb img{ border-radius: 50% }
.ng-directory-listing .peoplelist .headtitle li{ display: inline; } 
.ng-directory-listing .peoplelist .headtitle a{ display: inline-block; float: right; padding-right: 7px;}
.ng-directory-listing { font-weight: bold;}
.ng-directory-listing .widgetcontent { font-style: italic;}




