/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */



// For example:
//
// @import 'variables/colors.less';
// @import 'mixins/foo.less';
// @import 'mixins/bar.less';
// @import 'mixins/baz.less';
//
// @import 'styleguide.less';
// @import 'pages/login.less';
// @import 'pages/signup.less';
//
// etc.

.head-contracts{background:url('/images/icon-archive.png');}
.peoplelist { margin: 25px 0;
	.peoplewrapper { border: 1px solid #ccc; padding: 15px; background: #fff; height: 115px; margin-bottom: 20px; }
	.thumb { float: left; 
		img { display: block; width: 80px; }
	}
	.peopleinfo { margin-left: 95px; 
		h4 { font-size: 15px; }
		h4 span {font-family: sans-serif; font-size: 10px; text-transform: uppercase; margin-left: 5px; }
		h4 span.on { color: green; }
		h4 span.off { color: #999; }
		ul { list-style: none; font-size: 11px; color: #666; }
		ul li { line-height: 18px; }
		ul li span { line-height: 18px; }
	}
}
