/*
@import 'custom/yellow-transfers.less';
@import 'custom/american-sign.less';
@import 'custom/american-sign.less';
@import 'custom/yellow-transfers.less';
*/

@left-bar : '../images/leftpanelbg.png';
@left-color : #999;
@left-color-hover : #fff;
@title-color : #fff;
@title-span-color : #fff;
.button-gral(){};
.table-th(){};


@import 'custom/caribe-maya.less';
@import 'general.less';