<p>
    <label><%=__("order-empresa")%></label>
    <span class="field">
        <select 
            ng-model='modal.company'
            ng-options="obj.id as obj.name for obj in companies"
            ng-change="changeCompany()"
            required
            class='form-control' >
        </select>
    </span>
</p>
<p>
    <label>ID</label>
    <span class="field">
        <select 
            ng-model='modal.transport'
            ng-options="obj.id as obj.car_id for obj in transports"
            required
            class='form-control' >
        </select>
    </span>
</p>
<p>
    <label><%=__("start_hour")%></label>
    <span class="field">
        <input type="time" ng-model="modal.start">
    </span>
</p>
<p>
    <label><%=__("end_hour")%></label>
    <span class="field">
        <input ng-class="{'has-error': error.invalid_end}" type="time" ng-model="modal.end">
    </span>
</p>
