<script type='text/javascript'>
  window.all_companies = <%- JSON.stringify(companies) %>;
</script>
<div ng-controller="transportAsignCTL">
    <div ui-calendar="uiConfig.calendar" class="span9 calendar" ng-model="eventSources" calendar="myCalendar" id="mainCalendar"></div>

    <!-- modal create -->
    <div class="modal fade" id="select-transport">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Asignar translado {{modal.day}}</h4>
                </div>
                <div>
                    <form ng-class='formClass' class="form stdform stdform2" name="form">
                        <%- partial('form') %>
                        <p class="stdformbutton">
                            <button ng-click='save()' class="btn btn-primary" ng-disabled="form.$invalid">Guardar</button>
                            <button type="reset" class="btn reset">Reset</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- modal update -->
    <div class="modal fade" id="select-transport-update">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Actualizar translado {{modal.day}}</h4>
                </div>
                <div>
                    <form ng-class='formClass' class="form stdform stdform2" name="form">
                        <%- partial('form') %>
                        <p class="stdformbutton">
                            <button ng-click='update()' class="btn btn-primary" ng-disabled="form.$invalid">Guardar</button>
                            <button type="reset" class="btn reset">Reset</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
