<p>
    <label for="name">Nombre*</label>
    <span class="field"><input type="text" ng-model="client_name" id="name" class="input-large" value="<%- client.name %>"></span>
</p>
<p>
    <label for="address">Direccion*</label>
    <span class="field"><input type="text" ng-model="client_address" id="address" class="input-large" value="<%- client.address %>"></span>
</p>
<p>
    <label for="rfc">RFC*</label>
    <span class="field"><input type="text" ng-model="client_rfc" id="rfc" class="input-large" value="<%- client.rfc %>"></span>
</p>
<p>
    <label for="phone">Telefono</label>
    <span class="field"><input type="text" ng-model="client_phone" id="phone" class="input-large" value="<%- client.phone %>"></span>
</p>