<p>
    <label for="name"><%= __('client-nombre') %></label>
    <span class="field"><input type="text" ng-model="client_name" id="name" class="input-large"></span>
</p>
<p>
    <label for="address"><%= __('client-direccion') %></label>
    <span class="field"><input type="text" ng-model="client_address" id="address" class="input-large"></span>
</p>
<p>
    <label for="rfc"><%= __('client-rfc') %></label>
    <span class="field"><input type="text" ng-model="client_rfc" id="rfc" class="input-large"></span>
</p>
<p>
    <label for="phone"><%= __('client-contacto') %></label>
    <span class="field"><input type="text" ng-model="client_phone" id="phone" class="input-large"></span>
</p>
<p>
    <label for="email">E-mail</label>
    <span class="field"><input type="text" ng-model="client_email" id="email" class="input-large"></span>
</p>