<script type='text/javascript'>
    window.hotel = <%- JSON.stringify(hotel) %>;
    window.locations = <%- JSON.stringify(locations) %>;
    window.schemes = <%- JSON.stringify(schemes) %>;
    window.userID = <%- JSON.stringify(req.user.id) %>;
</script>
<div ng-controller='hotelEditCTL'>
    <div class='row-fluid'>
        <div class="span4 profile-left profileEdit">
        	<div class="alert alert-block unseen">
        		<button data-dismiss="alert" class="close" type="button">×</button>
        		<h4>Mensaje</h4>
        			<p style="margin: 8px 0">El usuario se ha actualizado exitosamente</p>
        		</div>
                
                <div profile-image object='hotel' update-method='/hotel/updateIcon' delete-method='/hotel/destroyIcon' image-attr='icon' dir='hotels' ></div>
        </div>
        <div class="span8">        
            <div form-helper 
                fields='content.hotel' 
                object='hotel' 
                action='/hotel/update' 
                form-title='INFORMACIÓN BASICA'
                objects='{locations:locations,schemes:schemes}'
                >
            </div> 
        </div>
    </div>
    <div class='row-fluid'>
        <div file-manager object='hotel' add-method='/hotel/addFiles' remove-method='hotel/removeFiles' dir='hotels/gallery' ></div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
           <div form-helper 
                fields='content.hotelLangs' 
                object='hotel' 
                action='/hotel/update' 
                form-title='Contenido'
                objects='objects'
                >
            </div> 
        </div>
    </div>
    <div class='row-fluid'>
        <div class='span12'>
            <div class="widgetbox">
                <h4 class="widgettitle">Habitaciones <span ng-click='toggleRoomForm()'  class='fa icon' ng-class='newRoomClass'></span>  </h4>
                <div ng-show='showRoomForm'>
                    <div form-helper 
                        fields='content.room' 
                        form-footer='Agregar Habitacion'
                        form-save = 'addRoom'
                        object = 'room'
                        currency='company.base_currency'
                        >
                    </div>
                </div>
                <div ng-show='hotel.rooms.length'>
                    <div table-helper objects='hotel.rooms' columns='content.room' route='room'></div>
                </div>
            </div>
        </div>
    </div>
    <br/>
</div>