<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
	      <!--action='/hotel/create'  -->
      <form 
      	  ng-submit='createHotel()'	
	      method='post'
	      accept-charset='utf-8'
	      enctype='multipart/form-data'
	      class='stdform stdform2'
         name="form"
      />
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title"><%= __('hotel-nuevo') %></h4>
	      </div>
				<%- partial('partials/new_basic') -%>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal"><%= __('hotel-cerrar') %></button>
	        <input type="submit" class="btn btn-primary" value='<%= __('hotel-guardar') %>' ng-disabled="form.$invalid">
	      </div>
	</form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
