<p>
	<label for='name'>Nombre*</label>
	<span class='field'>
		<input type='text' name='name' class='form-control required' ng-model='newHotel.name'  />
	</span>
</p>	
<p>
	<label for='address'>Dirección</label>
	<span class='field'>
		<input type='text' name='address' ng-model='newHotel.address' class='form-control required'  />
	</span>
</p>			
<p>
	<label for='phones'>Teléfonos</label>
	<span class='field'>
		<input type='text' ng-model='newHotel.phones'  name='phones' class='form-control required'  />
	</span>
</p>	
<p>
	<label for='location'>Localidad</label>
	<span class='field'>
		<select ng-change='getZones()' type='text' name='location' class='form-control required' ng-model='newHotel.location' ng-options='l.name for l in locations track by l.id'></select>
	</span>
</p>
<p>
	<label for='zone'>Zona</label>
	<span class='field'>
		<select type='text' name='zone' class='form-control required' ng-model='newHotel.zone' ng-options='l.name for l in zones track by l.id'></select>
	</span>
</p>