@login-background:#282828;
@login-button:#de3a15;
@login-hover:#de3a15;

@primary: #EA4723;
@header-button: #000000;
@header-hover:#000000;

@header-icon:#8B8A8B;
@header-icon-hover:#FFF;
@header-background:#171617;

@header-logo: '/images/logos/as_logo.png';
@login-logo: '/images/logos/as_logo.png';

.header .logo a{width:260px;height:50px;}
.widget-input-field{
	.widgettitle{font-size: 10px;padding: 6px 12px}
	.widgetcontent{padding: 0}
	.widgetcontent textarea{resize:none;}
	.widgetcontent{
		textarea, input[type="text"]{display: block;width: 100%}
	}	
}
.table-form-fields{
	td{
		border: 1px solid #CCCCCC;padding: 0;
		input[type="text"]{border: 0;box-shadow: none;width: 70%}
		label{display: inline;margin-right: 2px}
	}
}
