@login-background:#3C3C3C;
@login-button:#000000;
@login-hover:#000000;

@primary: #000000;
@secondaryBG : #f3be00;
@secondaryTC : black;
@header-logo: '/images/logos/space_logo.png';
@login-logo: '/images/logos/space_logo.png';
@header-button: #000000;
@header-hover:#000000;
@header-icon:#ffffff;
@header-icon-hover:#FFF;
@header-background:#000000;
@description-color : #4DB248;
@cart-borders : #4DB248;
@cart-bg : #4DB248;
@cart-textColor : white;