@login-background:#0E1327;
@login-button:#222C56;
@login-hover:#2E4086;

@primary: #0E1327;
@secondaryBG : #2E4086;
@secondaryTC : white;
@header-logo: '/images/logos/houdini.png';
@login-logo: '/images/logos/houdini.png';
@header-button: #222C56;
@header-hover:#2E4086;
@header-icon:#fff;
@header-icon-hover:#fff;
@header-background:#0E1327;
@description-color : #0E1327;
@cart-borders : #0E1327;
@cart-bg : #0E1327;
@cart-textColor : white;

.header .logo{padding-top:0px;background-color:@primary;padding-bottom:2px;}
.header .logo a{width:260px;height:100px;margin-top:8px;
width: 220px;
    background-size: contain!important;
    margin-right: auto;
    margin-left: auto;}
