@login-background:#252D5E;
@login-background:#00C4DA;
@login-button:#61C65C;
@login-button:#00ADBF;
@login-hover:#4DB248;
@login-hover:#007784;

@primary: #252D5E;
@primary: #00C4DA;
@header-logo: '/images/logos/space_logo.png';
@login-logo: '/images/logos/space_logo.png';
@header-button: #61C65C;
@header-button: #00B9CD;
@header-hover:#4AB34A;
@header-hover:#00AABD;
@header-icon:#fff;
@header-icon-hover:#fff;
@header-background:#4DB248;
@header-background:#00ADBF;

.header .logo{padding-top:0px;background-color:@primary;padding-bottom:2px;}
.header .logo a{width:260px;height:100px;margin-top:8px;}