/*American Sign*/
.header{background: #171617}
strong{font-weight: bold;}
.row .row{max-width: 100%;margin: 0}
/*Global orange #EA4723*/

/*Login page*/
body.loginpage{background: #282828}
.inputwrapper button{background: #EA4723;border:1px solid #EA4723;}
.inputwrapper button:focus, .inputwrapper button:active, .inputwrapper button:hover{background: #de3a15;border:1px solid #de3a15;}
/*---*/
.headmenu > li > a{padding: 25px 20px 11px 20px}
.headmenu > li > a:hover{background: #EA4723}
.headmenu > li > a:hover .menu-icon{color: #fff}
.headmenu > li > a .menu-icon{color: #8B8A8B;font-size: 48px}
.userloggedinfo .userinfo h5{font-weight: bold;}
.userloggedinfo img{border-radius: 50%}

.nav-tabs.nav-stacked > li.active > a, .nav-tabs.nav-stacked > li.active > a:hover, .nav-tabs.nav-stacked > li.active > a:focus{background:#EA4723!important;}
.leftmenu .nav-header{color: #fff}
.leftmenu .nav-tabs.nav-stacked > li.active > a{background-color: #EA4723;border-bottom-color: #EA4723;}

.pageicon{border: 3px solid #EA4723;color: #EA4723}
.pagetitle h1{color: #EA4723;text-transform: uppercase;}
.page-description{color: #CCCCCC}
.widgettitle{background: #EA4723;text-transform: uppercase;}
.widgettitle span{font-size: 16px}
.widgetcontent{border: 2px solid #EA4723;}
a, a:hover, a:link, a:active, a:focus{color: #EA4723}
.btn-primary , .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{background: #EA4723;border-color: #EA4723}
.alphabets li span{color: #EA4723}

.main-client{padding: 30px 12px}
.main-client .client-info{margin-left: 95px}
.main-client .client-info p{line-height: 16px}
.commentlist li{min-height: 83px}
.commentlist li p{margin: 0}

.custom-table table{margin-bottom: 0!important;width: 100%}
.custom-table table th,.custom-table table td{font-size: 12px;padding: 6px;}
.custom-table table th{background: #282828!important;border: none!important;color: #fff;font-size: 13px;}
.custom-table table .table-icon{color: #282828;font-size: 15px}
.custom-table table td a{color: #333333;}
.custom-table table td:nth-child(2){text-decoration: underline;}
.custom-table table.table-striped > tbody > tr:nth-child(odd) > td{background: #D9D8D8}

.buttons-box{margin-bottom: 14px}
.buttons-box .button-orange{border: 1px solid #EA4723;color: #EA4723;font-size: 15px}
.buttons-box .button-orange + .button-orange{margin-left: 4px}
.buttons-box .button-orange:hover{background: #EA4723;color: #fff}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{background: #EA4723;border-color: #EA4723;color: #fff;}

/*Dropdowns*/
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{background: #EA4723!important}

.peoplelist .peoplewrapper{height: auto;}

@media only screen and (max-width: 480px) {
	/* Force table to not be like tables anymore */
	.custom-table table,
	.custom-table thead,
	.custom-table tbody,
	.custom-table th,
	.custom-table td,
	.custom-table tr {
	display: block;
	}
	 
	/* Hide table headers (but not display: none;, for accessibility) */
	.custom-table thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
	}
	 
	.custom-table tr { border: 1px solid #ccc; }
	 
	.custom-table td {
	/* Behave like a "row" */
	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 50%!important;
	white-space: normal;
	text-align:left;
	}
	 
	.custom-table td:before {
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	top: 6px;
	left: 6px;
	width: 45%;
	padding-right: 10px;
	white-space: nowrap;
	text-align:left;
	font-weight: bold;
	}
	 
	/*
	Label the data
	*/
	.custom-table td:before { content: attr(data-title); }
}

@media screen and (max-width: 480px){
	.headmenu .dropdown-menu{border: 2px solid #EA4723}
	.userloggedinfo .userinfo{border: 2px solid #EA4723}
}

@media screen and (max-width: 360px){
	.headmenu > li > a .menu-icon{font-size: 32px}
}