@login-background:#F3BE00;
@login-button:#000000;
@login-hover:#000000;

@primary: #000000;
@header-button: #000000;
@header-hover:#000000;

@header-icon:#ffffff;
@header-icon-hover:#FFF;
@header-background:#000000;

@header-logo: '/images/logos/yellow_logo.png';

.header .logo a{width:260px;height:50px;}