<form action="/product/createField" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="stdform stdform2 ng-pristine">
	<input type="hidden" name="product" value="<%=product.id%>" />
	<p>
		<label for="name">Nombre*</label>
		<span class="field"><input type="text" name="name" class="input-large"></span>
	</p>
	<p>
		<label for="handle">Handle*</label>
		<span class="field"><input type="text" name="handle" class="input-large"></span>
	</p>
	<p>
		<label for="type">Tipo*</label>
		<span class="field">
                        <select name="type" ng-model="typeSelect">
				<%for(var i=0;i<types.length;i++){ %>
					<option value="<%=types[i]%>"><%=types[i]%></option>
				<%}%>
			</select>
		</span>
	</p>
	<p ng-if=typeSelect=='select'>
		<label for="name">valores</label>
		<span class="field">
			<input type="text" name="values" class="input-large">
		</span>
	</p>
	<p class="stdformbutton">
		<button class="btn btn-primary">Guardar</button>
	</p>
</form>