<p>
	<label for="name">Nombre* :</label>
	<span class="field"><input type="text" id="name" name="name" class="form-control" ng-model='machine.name'></span>
</p>
<p>
    <label for="description">Descripcion :</label>
    <span class="field"><input type="text" id="description" name="description" class="form-control" ng-model='machine.description'></span>
</p>
<p>
    <label for="internalreference">Referencia Interna :</label>
    <span class="field"><input type="text" id="internalreference" name="internalReference" class="form-control" ng-model='machine.internalReference'></span>
</p>



<!--<p>-->
	<!--<label>Modos :</label>-->
<!--</p>-->
<!--<p>-->
    <!--<table class="table responsive">-->
        <!--<thead>-->
            <!--<tr>-->
                <!--<th>Nombre</th>-->
                <!--<th>Vel : m2/hr</th>-->
                <!--<th>Costo hora</th>-->
                <!--<th></th>-->
            <!--</tr>-->

        <!--</thead>-->
        <!--<tbody>-->
            <!--<tr ng-repeat="machine_mode in machine_modes">-->
                <!--<td data-title="Nombre"><input type="text" ng-model="machine_mode.name" class="span2" value="{{machine_mode.name}}"/><input type="hidden" value="{{machine_mode.id}}" /></td>-->
                <!--<td data-title="Vel : m2/hr"><input type="text" ng-model="machine_mode.velocity" class="span2" value="{{machine_mode.velocity}}" /></td>-->
                <!--<td data-title="Costo hora"><input type="text" ng-model="machine_mode.costPerHour" class="span2" value="{{machine_mode.costPerHour}}" /></td>-->
                <!--<td><span ng-click="deleteMachineMode($index)" class="icon fa fa-eraser"></span></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td colspan="3">-->
                    <!--<a href="#" class="btn btn-default button-orange" ng-click="addMachineMode()"><span class="table-icon fa fa-plus"></span> Modo de impresion</a>-->
                <!--</td>-->
            <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
<!--</p>-->