<p>
	<label for="name">Nombre* :</label>
	<span class="field"><input type="text" id="name" name="name" class="form-control" ng-model='machine.name'></span>
</p>
<p>
    <label for="description">Descripcion :</label>
    <span class="field"><input type="text" id="description" name="description" class="form-control" ng-model='machine.description'></span>
</p>
<p>
    <label for="internalreference">Referencia Interna :</label>
    <span class="field"><input type="text" id="internalreference" name="internalReference" class="form-control" ng-model='machine.internalReference'></span>
</p>
<p>
    <label for="machine_type">Tipo :</label>
    <span class="field">
        <select id="machine_type" ng-options="type for type in ['router','laminadora','corte','impresora']" ng-model="machine.machine_type" chosen ng-required></select>
    </span>
</p>