<script type='text/javascript'>
    window.item = <%- JSON.stringify(item) %>;
    window.locations = <%- JSON.stringify(locations) %>;
    window.location_ = <%- JSON.stringify(location_) %>;
</script>
<div ng-controller='packageItemEditCTL'>
    <div class='row-fluid'>
        <div class='span4'>
            <div profile-image object='item' update-method='/packageitem/updateIcon' delete-method='/packageitem/destroyIcon' image-attr='icon' dir='packageitem' ></div>
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12"> 
            <div form-helper 
                fields='content.packageDay' 
                object='item' 
                action='/packageitem/update' 
                form-title='INFORMACIÓN BÁSICA'
                objects = '{daysnumber:daysnumber,locations:locations}' >
                >
            </div> 
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12"> 
            <div geo-marker 
                save-function = "updateMarkers"
                custom-fields = "[ 'name' ]"
                center = "center"
                markers = "item.markers"
                sizes = "{ height: '350px' }"
                drag-enabled = "true"
            ></div>
        </div>
    </div>
    <br/>
</div>