<script type='text/javascript'>
    window.item = <%- JSON.stringify(item) %>;
    window.locations = <%- JSON.stringify(locations) %>;
</script>
<div ng-controller='packageItemEditCTL'>
    <div class='row-fluid'>
        <div class="span12"> 
            <div form-helper 
                fields='content.packageDay' 
                object='item' 
                action='/packageitem/update' 
                form-title='INFORMACIÓN BÁSICA'
                objects = '{daysnumber:daysnumber,locations:locations}' >
                >
            </div> 
        </div>
    </div>
    <div class='row-fluid'>
        <div class="span12"> 
            <div class='big-map-container' ></div>
        </div>
    </div>
    <br/>
</div>