<%
	var alphabets= ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']; 
%>

<div ng-controller='userCTL' >
	<p><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nuevo Usuario</button></p>
	<br/>	
	<ul class="alphabets">
		<li ng-repeat="a in alphabets">
			<span ng-if="alphabets_company.indexOf(a)!=-1" ng-click="selectLetter(a)">{{a}}</span>
			<p ng-if="alphabets_company.indexOf(a)==-1" >{{a}}</p>
		</li>
	</ul>
	<div class="peoplelist">
		<div class="row-fluid">
			<div class="span6" ng-repeat='user in users | filter:userFilter'>
				<div class="peoplewrapper">
					<div class="thumb">
						<img ng-src="/uploads/users/{{user.icon}}" alt="" />
					</div>
					<div class="peopleinfo">
						<h4>
							<a href="/users/edit/{{user.id}}">
							{{user.name}}
							</a>
						</h4>
						<ul>
							<li><span>Registro: </span>{{user.createdAtString}}</li>
							<li><span>ultimo Acceso: </span></li>
							<li><span>Email: </span>{{user.email}}</li>
							<li><span>Telefono: </span>{{user.phone}}</li>
							<li><span>Aplicaciones: </span>{{user.apps}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="span6">
		<div class="alert alert-block unseen userAlert">
			<button data-dismiss="alert" class="close" type="button">×</button>
			<h4>Mensaje</h4>
			<p>El usuario se creo exitosamente</p>
		</div>
	</div>
	<%- partial('new_user_modal') -%>
	<%- partial('../global/notices') -%> 
</div>
