<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form 
	      action='/users/create/'
	      method='post'
	      accept-charset='utf-8'
	      enctype='multipart/form-data'
	      ng-submit='sup()'
	      class='stdform stdform2 userCreate'
      />
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Nuevo Usuario</h4>
	      </div>
	      <div class="modal-body">	        
				<p><label for='name'>Nombre*</label><span class='field'><input type='text' name='name' class='form-control required'  /></span></p>	
				<p><label for='last_name'>Apellidos*</label><span class='field'><input type='text' name='last_name' class='form-control required'  /></span></p>			
				<p><label for='email'>Email*</label><span class='field'><input type='text' name='email' class='form-control required'  /></span></p>		
				<p><label for='password'>Contraseña*</label><span class='field'><input type='password' name='password' class='form-control required' /></span></p>					
				<p><label for='app_select'>Aplicaciones</label>
				<span class="field">
					<select name='app_select' multiple='multiple' class='chzn-select form-control large' data-placeholder="Agregar Aplicaciones..." style='width:285px'>
						<% for(var i=0;i<apps.length;i++){ %>
							<option value='<%= apps[i].controller %>'><%=apps[i].name%></option>
						<% } %>
					</select>
				</span></p>
				<p>
					<label>Avatar</label>		
					<span class='field'>
						<span class="fileupload fileupload-new" data-provides="fileupload">
							<span class="input-append">
							<span class="uneditable-input span2">
							    <i class="fa fa-file fileupload-exists"></i>
							    <span class="fileupload-preview"></span>
							</span>
							<span class="btn btn-file">
								<span class="fileupload-new">Archivo</span>
								<span class="fileupload-exists">Cambiar</span>
								<input type="file" name='icon_input' />
							</span>
							<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
						</span>
					    </span>
					</span>
				</p>			
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        <input type="submit" class="btn btn-primary" value='Guardar'>
	      </div>
	</form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->