<div class='widgetcontent custom-table'>
    <h4 class='secondTittle'>Tours 
        <a ng-click="isCollapseObj['toursCollapse']=!isCollapseObj['toursCollapse']" class="pull-right fa fa-{{isCollapseObj['toursCollapse']?'plus':'minus'}}"></a>
        <a ng-click="isCollapseObj['toursCollapseFilter']=!isCollapseObj['toursCollapseFilter']" class="pull-right fa fa-filter"></a>
    </h4>
    <div uib-collapse="!isCollapseObj['toursCollapseFilter']">
        <form class='form stdform stdform2 stdform3' ng-submit="updateTourPrices()">
            <div class='row'>
                <div class='col-md-6'>
                    <p>
                        <span>Ciudad</span>
                        <input type="text" placeholder="Ciudad" class="form-control" 
                            ng-model="tourF.tlocation" 
                            typeahead="obj as obj.name for obj in getCities($viewValue)" ></p>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <p>
                        <span>Precio base (adulto)</span>
                        <span class='input-group'>
                        <a class="input-group-addon" ng-click="tourF.adultBaseSign=!tourF.adultBaseSign" >{{(tourF.adultBaseSign?'<':'>')}}</a>
                        <input type="text" placeholder="Precio base (adultos)" class="form-control" ng-model="tourF.adultBase" >
                    </span></p>
                </div>
                <div class='col-md-6'>
                    <p>
                        <span>Precio base (menores)</span>
                        <span class='input-group'>
                        <a class="input-group-addon" ng-click="tourF.childBaseSign=!tourF.childBaseSign" >{{(tourF.childBaseSign?'<':'>')}}</a>
                        <input type="text" placeholder="Precio base (menores)" class="form-control" ng-model="tourF.childBase" >
                    </span></p>
                </div>
            </div>
            <p>
                <input type="text" ng-model="tourF.commission_agency" name="commission_agency" placeholder="Comisión (%)" >
                <input type='submit' class='btn btn-primary'>
            </p>
        </form>
    </div>
    <div class='autocomplete'>
        <a class='btn btn-primary' ng-click="addAllTours()" >Agregar Todos</a>
        <input type="text" placeholder="Tours" class="form-control" 
            ng-model="toursPrices" 
            typeahead="tour as tour.name for tour in getTours($viewValue)" 
            typeahead-on-select="acOnSelect($item, $model, $label,'tour','tours')" >
    </div>
    <div class='custom_inline_messages' ng-class="messages.tour.alertType" ng-hide="!messages.tour.show">
        <p><span ng-bind="messages.tour.m"></span> <strong ng-bind="messages.tour.item_name"></strong></p>
    </div>
    <div class='collapsable' uib-collapse="isCollapseObj['toursCollapse']">
    <table class='table table-striped'>
        <tr class='hide-sm'>
            <th>Nombre</th>
            <th>Precio <br> Público</th>
            <th>Precio <br> base</th>
            <th>Comisión <br> Agencia</th>
            <th>Precio <br> adultos</th>
            <th>Precio <br> menores</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr ng-repeat="t in tours">
            <td data-title="Nombre" ng-bind="t.tour.name"></td>
            <td data-title="Precio base" >
                <p> Adultos: {{t.tour.fee}} {{actualCurrency.currency_code}}</p>
                <p> Menores: {{t.tour.feeChild}} {{actualCurrency.currency_code}}</p>
            </td>
            <td>
                <p> Adultos: {{t.tour.fee_base || 0 }} {{actualCurrency.currency_code}}</p>
                <p> Menores: {{t.tour.feeChild_base || 0 }} {{actualCurrency.currency_code}}</p>
            </td>
            <td>
                <span 
                    editable-text='t.commission_agency'
                    e-name='commission_agency'
                    e-form='rowform'
                >{{t.commission_agency || 0 }} %</span>
            </td>
            <td>
                <span 
                    editable-text='t.fee'
                    e-name='fee'
                    e-form='rowform'
                >{{t.fee || 0 }} {{actualCurrency.currency_code}}</span>
            </td>
            <td>
                <span 
                    editable-text='t.feeChild'
                    e-name='feeChild'
                    e-form='rowform'
                >{{t.feeChild || 0 }} {{actualCurrency.currency_code}}</span>
            </td>
            <td>
                <form editable-form name="rowform" onbeforesave="savePrice($data,t)" ng-show="rowform.$visible" class="form-buttons form-inline" >
                  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary"><%= __('tranferprice-guardar')%></button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default"><%= __('tranferprice-cancelar')%></button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                  <button class="btn btn-primary" ng-click="rowform.$show()"><%= __('tranferprice-editar')%></button>
                </div>
            </td>
            <td><a style="cursor:pointer" class='fa fa-trash-o' ng-click='removeProduct(t,"tour")'></a></td>
        </tr>
    </table>
    </div><!-- collapse end -->
</div>