<div class='widgetcontent custom-table'>
    <h4 class='secondTittle'>
        Servicios de traslado
        <select class='' ng-change="getProducts('transfer','transfers',0)" ng-model="thelocation" ng-options=" obj.id as obj.name for obj in locations " ></select>
        <a ng-click="isCollapseObj['transferCollapseFilter']=!isCollapseObj['transferCollapseFilter']" class="pull-right fa fa-filter"></a>
    </h4>
    <div collapse="!isCollapseObj['transferCollapseFilter']">
        <form class='form stdform stdform2 stdform3' ng-submit="updateTransferPrices()">
            <div class='row'>
                <div class='col-md-6'>
                    <p>
                        <span>Zona</span>
                        <input type="text" placeholder="Elige una zona" class="form-control" 
                            ng-model="transF.zone" 
                            typeahead="obj as obj.name for obj in getZones($viewValue)" ></p>
                    </p>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <p>
                        <span>One way (adulto)</span>
                        <span class='input-group'>
                        <a class="input-group-addon" ng-click="transF.adult_ow_Sign=!transF.adult_ow_Sign" >{{(transF.adult_ow_Sign?'<':'>')}}</a>
                        <input type="text" placeholder="One way (adult)" class="form-control" ng-model="transF.one_way" >
                    </span></p>
                </div>
                <div class='col-md-6'>
                    <p>
                        <span>Round trip (adulto)</span>
                        <span class='input-group'>
                        <a class="input-group-addon" ng-click="transF.adult_rt_Sign=!transF.adult_rt_Sign" >{{(transF.adult_rt_Sign?'<':'>')}}</a>
                        <input type="text" placeholder="Round trip (adult)" class="form-control" ng-model="transF.round_trip" >
                    </span></p>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <p>
                        <span>One way (menor)</span>
                        <span class='input-group'>
                        <a class="input-group-addon" ng-click="transF.adult_owc_Sign=!transF.adult_owc_Sign" >{{(transF.adult_owc_Sign?'<':'>')}}</a>
                        <input type="text" placeholder="One way (child)" class="form-control" ng-model="transF.one_way_child" >
                    </span></p>
                </div>
                <div class='col-md-6'>
                    <p>
                        <span>Round trip (menor)</span>
                        <span class='input-group'>
                        <a class="input-group-addon" ng-click="transF.adult_rtc_Sign=!transF.adult_rtc_Sign" >{{(transF.adult_rtc_Sign?'<':'>')}}</a>
                        <input type="text" placeholder="Round trip (child)" class="form-control" ng-model="transF.round_trip_child" >
                    </span></p>
                </div>
            </div>
        </form>
    </div>
    <div class='autocomplete'>
        <input type="text" placeholder="Traslados" class="form-control" 
            ng-model="servicePrices" 
            typeahead="obj as obj.name for obj in getTransfers($viewValue)" 
            typeahead-on-select="acOnSelect($item, $model, $label,'transfer','transfers')" >
    </div>
    <div class='custom_inline_messages' ng-class="messages.transfer.alertType" ng-hide="!messages.transfer.show">
        <p><span ng-bind="messages.transfer.m"></span> <strong ng-bind="messages.transfer.item_name"></strong></p>
    </div>
    <div ng-repeat="service in transfers">
        <h4 class='secondTittle'>
            {{service[0].transfer.name}}
            <a 
                ng-click="isCollapseObj[service[0].transfer.id]=!isCollapseObj[service[0].transfer.id]" 
                class='pull-right'>
                <i class="fa fa-{{isCollapseObj[service[0].transfer.id]?'minus':'plus'}}"></i>
            </a>
        </h4>
        <div class='collapsable' collapse="!isCollapseObj[service[0].transfer.id]">
        <table class='table table-striped'>
            <tr class='hide-sm'>
                <th>Zona</th>
                <th>Zona</th>
                <th>Comisión <br> agencia</th>
                <th ng-if="price.company.id==company.id">Comisión <br> vendedor</th>
                <th>Sencillo <br> adultos</th>
                <th>Redondo <br> adultos</th>
                <th>Sencillo<br> menores</th>
                <th>Redondo<br> menores</th>
                <th>Activo</th>
                <th>Editar</th>
            </tr>
            <tr ng-repeat='price in service'>
                <td>{{price.zone1.name}}</td>
                <td>{{price.zone2.name}}</td>
                <td>
                <span 
                    editable-text='price.commission_agency'
                    e-name='commission_agency'
                    e-form='rowform'
                    >{{price.commission_agency || 0 }} %</span>
                </td>
                <span ng-if="price.company.id==company.id"
                    editable-text='price.commission_user'
                    e-name='commission_user'
                    e-form='rowform'
                    >{{price.commission_user || 0 }} %</span>
                </td>
                <td><span 
                    editable-text='price.one_way'
                    e-name='one_way'
                    e-form='rowform'
                >{{price.one_way || 0 }} {{actualCurrency.currency_code}}</span></td>
                <td><span 
                    editable-text='price.round_trip'
                    e-name='round_trip'
                    e-form='rowform'
                >{{price.round_trip || 0 }} {{actualCurrency.currency_code}}</span></td>
                <td><span 
                    editable-text='price.one_way_child'
                    e-name='one_way'
                    e-form='rowform'
                >{{price.one_way || 0 }} {{actualCurrency.currency_code}}</span></td>
                <td><span 
                    editable-text='price.round_trip_child'
                    e-name='round_trip'
                    e-form='rowform'
                >{{price.round_trip || 0 }} {{actualCurrency.currency_code}}</span></td>
                <td><span 
                    editable-checkbox='price.active'
                    e-name='active'
                    e-form='rowform'
                ><i class="active-i fa {{price.active?'active fa-check-square-o':'fa-square-o'}}"></i></span></td>
                <td>
                    <form editable-form name="rowform" onbeforesave="saveTransferPrice($data,price.id)" ng-show="rowform.$visible" class="form-buttons form-inline" >
                      <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                        <%= __('tranferprice-guardar')%>
                      </button>
                      <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                        <%= __('tranferprice-cancelar')%>
                      </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                      <button class="btn btn-primary" ng-click="rowform.$show()"><%= __('tranferprice-editar')%></button>
                    </div>
                </td>
            </tr>
        </table>
    </div><!-- collapse end -->
    </div>
</div><!-- widgetcontent -->