<script type='text/javascript'>
    window.room = <%- JSON.stringify(room) %>;
    window.hotel = <%- JSON.stringify(hotel) %>;
    window.scheme = <%- JSON.stringify(scheme) %>;
    window.userID = <%- JSON.stringify(req.user.id) %>;
</script>
<div ng-controller='roomEditCTL'>
    <div class='row-fluid'>
        <div class="span5 profile-left profileEdit">
        	<div class="alert alert-block unseen">
        		<button data-dismiss="alert" class="close" type="button">×</button>
        		<h4>Mensaje</h4>
        			<p style="margin: 8px 0">El cuarto se ha actualizado exitosamente</p>
        	</div>
            
            <div profile-image
                object='room' 
                update-method='/room/updateIcon' 
                delete-method='/room/destroyIcon' 
                image-attr='icon' 
                dir='rooms'>
            </div>
            <div form-helper 
                fields='seasonFields' 
                object='room.fees' 
                form-save='saveFees' 
                form-title='Tarifas'
                currency='company.base_currency'
                >
            </div>
                  
        </div>
        <div class="span7">        
            <div form-helper 
                fields='content.room' 
                object='room' 
                action='/room/save' 
                form-title='INFORMACIÓN BASICA'
                currency='company.base_currency'
                >
            </div>        
        </div>
    </div>
</div>