<table class='table responsive'>
	<thead>
	<tr>
		<th ng-repeat='field in _content.room' ng-bind='field.label'></th>
		<th>Editar</th>
		<th>Eliminar</th>
	</tr>
	</thead>
	<tr ng-repeat='room in hotel.rooms'>
		<td ng-repeat='field in _content.room' ng-bind='room[field.handle]'></td>
		<td><a ng-href='/room/edit/{{room.id}}' href=''><span class='fa fa-file'></span></a></td>
		<td><a ng-href='/room/delete/{{room.id}}' href=''><span class='fa fa-close'></span></a></td>
	</tr>
</table>