<script type='text/javascript'>
    window.transfer = <%- JSON.stringify(transfer) %>;
</script>
<div ng-controller='transferEditCTL' class="editar-transfer ng-cloak">
    <div class='row-fluid'>
        <div class="span12">
            <div form-helper 
                fields='content.transfer' 
                object='transfer' 
                action='/transfer/update' 
                form-title='INFORMACIÓN BÁSICA'
                >
            </div> 
        </div>
    </div>
    <br/>
</div>

    <div id="cargando-elementos" class="ng-cloak">
        <img src="/images/loaders/images-cm.gif">
    </div>