<script type='text/javascript'>
    window.transfer = <%- JSON.stringify(transfer) %>;
    window.userID = <%- JSON.stringify(req.user.id) %>;
</script>
<div ng-controller='transferEditCTL' class="editar-transfer ng-cloak">
    <div profile-image 
        object='transfer' 
        update-method='/transfer/updateIcon' 
        delete-method='/transfer/destroyIcon' 
        image-attr='icon' 
        dir='transfers'>
    </div> 
    <div class='row-fluid'>
        <div class="span12">
            <div form-helper 
                fields='content.transfer' 
                object='transfer' 
                action='/transfer/update' 
                form-title='<%= __('transfer-info')%>'
                >
            </div> 
        </div>
    </div>
    <br/>
    <div delete-button url='/transfer' redirect-url='/transfer' object='transfer' user='user'></div>
    <br/>
</div>

    <div id="cargando-elementos" class="ng-cloak">
        <img src="/images/loaders/images-cm.gif">
    </div>
