<script type='text/javascript'>
	window.transfers = <%- JSON.stringify(transfers) %>;
	window.content = <%- JSON.stringify(_content) %>;
</script>
<div ng-controller="transferCTL">
	<p><button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class='fa fa-plus'></i> Nuevo Servicio</button></p>
	<br/>
	<div class='ng-directory-listing ng-cloak' ng-cloak><div class="peoplelist">
		<div class="row-fluid">
			<div class="span6 widgetbox" ng-repeat='object in transfers' ng-cloak class="ng-cloak">
				<div class="headtitle">         
					<h4 class="widgettitle">{{object.name}}
						<li><a ng-href="/transfer/edit/{{object.id}}">Editar</a></li><li><a ng-href="/transfer/edit/{{object.id}}"><span class = "fa fa-pencil"></span></a></li>
					</h4>
				</div>
				<div class="widgetcontent" >
					<div class="thumb pull-right">
						<img src="http://placehold.it/80x80" alt="{{object.name}}" />
					</div>
					<div class="peopleinfo" ng-cloak>
						<ul>
							<li><span>Nombre: </span> <span ng-bind="object.name"></span></li>
							<li><span>Pax: </span> <span ng-bind="object.max_pax"></span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div></div>
	<!--<div 
		directory-listing 
		objects='transfers' 
		searchInput='searchInput' 
		dir='transfers' 
		edit-url='/transfer/edit/' 
		get-info='getInfo'
		name-var='name_es' ></div>-->

	<div class="clearfix"></div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div 
					form-helper 
			        fields='content.transfer' 
			        form-footer='Agregar'
			        form-save = 'createTransfer'
			        object = 'transfer'
			        form-title='Agregar Servicio de Traslado'
			       	modal='true'
			        >
			    </div>
			</div>
		</div>
	</div>
</div>

	<div id="cargando-elementos" class="ng-cloak">
		<img src="/images/loaders/images-cm.gif">
    </div>