<script type='text/javascript'></script>
<div ng-controller='folioEditCTL' class="ng-cloak">
    <div class='row-fluid'>
        <div class='span4'>
            Folio edit
        </div>
        <div class="span8"></div>
    </div>
</div>
<div id="cargando-elementos" class="ng-cloak"><img src="/images/loaders/images-cm.gif"></div>